@import "../../../styles/variables";

.FrontPageSearchResults {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    background: $gray-light;

    .NoResults {
        font-family: $font-family-sailec;
        color: $gray-dark;
        padding: $spacer $spacer * 2;
        font-weight: 600;
        font-size: 14px;
    }

    .ResultBlock {
        display: flex;
        width: 100%;
        gap: $spacer * 2;
        border-bottom: 1px solid rgba(209, 212, 214, .5);
        padding: $spacer * 1.5;

        svg {
            min-width: 28px;
            width: 28px;
            height: 28px;
            fill: $gray;
        }

        .Results {
            display: flex;
            flex-direction: column;

            .CategoryTitle {
                font-size: 10px;
                text-transform: uppercase;
                color: $red;
                font-weight: 600;
                font-family: $font-family-sailec;
                margin-bottom: $spacer;
            }

            .ResultList {
                display: flex;
                width: 100%;
                flex-direction: column;
                gap: $spacer * .6;

                .ResultRow {
                    font-size: 14px;
                    line-height: 22px;
                    font-family: $font-family-sailec;
                    color: $blue;
                    font-weight: 400;
                    cursor: pointer;

                    &:hover {
                        color: $blue-hover;
                    }

                    @include sm() {
                        font-size: 13px;
                        line-height: 20px;
                    }
                }
            }
        }

        @include sm() {
            svg {
                min-width: 25px;
                width: 25px;
                height: 25px;
            }
        }
    }

    .MoreResults {
        display: flex;
        width: 100%;
        background: $white;
        gap: $spacer;
        align-items: center;
        padding: $spacer * .5 0 $spacer 55px;
        box-shadow: 0px -5px 30px 0px #ffffff;

        span {
            font-size: 14px;
            font-family: $font-family-sailec;
            color: $blue;
            font-weight: 500;
            cursor: pointer;

            &:hover {
                color: $blue-hover;
            }
        }

        svg {
            width: 14px;
            height: 14px;
            fill: $gray;
        }

        @include sm() {
            span {
                font-size: 13px;
            }

            svg {
                width: 13px;
                height: 13px;
            }
        }
    }
}