@import "../../../styles/variables";

.TravelmateFilter {
    display: flex;
    width: 100%;
    gap: $spacer * 1.5;
    flex-wrap: wrap;
    justify-content: center;

    .Field {
        width: 100%;
        max-width: 220px;
    }

    @include sm() {
        flex-direction: column;

        .Field {
            max-width: unset;
        }
    }
}