@import "../../styles/variables";

.Tag {
    display: inline-flex;
    align-items: center;
    border: 1px solid $gray-darker;
    border-radius: 12px;
    justify-content: center;
    padding: 3px $spacer;
    transition: all .2s;
    cursor: default;

    .Title {
        color: $gray-darker;
        font-size: .75rem;
        line-height: 110%;
        white-space: nowrap;

        @include xs() {
            line-height: 100%;
        }
    }

    &:hover {
        border: 1px solid $gray-dark-hover;

        .Title {
            color: $gray-dark-hover;
        }
    }

    &.Destination {
        border: 1px solid $orange;
        cursor: pointer;

        .Title {
            color: $orange;
        }

        &:hover {
            border: 1px solid $orange-dark;

            .Title {
                color: $orange-dark;
            }
        }
    }

    &.White {
        border: 1px solid $white;

        .Title {
            color: $white;
        }

        &:hover {
            border: 1px solid $white;
            opacity: .8;

            .Title {
                color: $white;
            }
        }
    }

    &.Red {
        border: 1px solid rgba(237, 100, 100, .9);
        //background: $red-light;
        //opacity: .9;
        background: rgba(237, 100, 100, .9);

        .Title {
            color: $white;
            font-weight: 500;
            line-height: 120%;
        }

        &:hover {
            border: 1px solid $red;
            background: $red;
        }
    }

    &.Large {
        padding: 4px 10px;

        .Title {
            font-size: $font-size-normal;
        }
    }
}