@import "../../styles/variables";
@import "../../styles/mixins";

.Tag {
    display: inline-flex;
    align-items: center;
    border: 1px solid $gray-darker;
    border-radius: 12px;
    justify-content: center;
    padding: 3px 6px;
    transition: all .2s;

    .Title {
        color: $gray-darker;
        font-size: .75rem;
        line-height: 110%;
        white-space: nowrap;

        @include xs() {
            line-height: 100%;
        }
    }

    &:hover {
        border: 1px solid $gray-dark-hover;

        .Title {
            color: $gray-dark-hover;
        }
    }

    &.Destination {
        border: 1px solid $orange;

        .Title {
            color: $orange;
        }

        &:hover {
            border: 1px solid $orange-dark;

            .Title {
                color: $orange-dark;
            }
        }
    }
}