@import "../../styles/variables";
@import "../../styles/mixins";

.Tag {
    display: inline-flex;
    align-items: center;
    border: 1px solid $gray-darker;
    border-radius: 12px;
    justify-content: center;
    padding: 3px 6px;
    transition: all .2s;

    &:hover {
        color: $gray-dark-hover;
        border: 1px solid $gray-dark-hover;
    }

    .Title {
        color: $gray-darker;
        font-size: .8rem;
        line-height: 110%;
        white-space: nowrap;
    }

    &.Destination {
        border: 1px solid $orange-dark;

        .Title {
            color: $orange-dark;
        }

        &:hover {
            color: $orange-dark;
            border: 1px solid $orange-dark;
        }
    }
}