@import "../../../../styles/variables";

.ChatMessage {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: $spacer;

    .CreatedAt {
        font-size: $font-size-xsmall;
        color: $gray;
        display: flex;
        font-weight: 500;
    }

    .MessageContainer {
        display: flex;
        gap: $spacer * 2;

        .UserImage {
            width: 50px;
            min-width: 50px;
            height: 50px;
        }

        .Message {
            display: flex;
            flex-direction: column;
            padding: $spacer $spacer * 2.5;
            border: 1px solid $gray-light;
            border-radius: 6px;
            color: $gray-dark;
            font-family: $font-family-sailec;
            background: $gray-light;
            font-weight: 400;
            position: relative;
            border-top-left-radius: 0;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 22px;
                width: 0;
                height: 0;
                border: 6px solid transparent;
                border-right-color: $gray-light;
                border-left: 0;
                margin-top: -5px;
                margin-left: -6px;
            }

            a {
                color: $blue;
                word-break: break-word;

                &:hover {
                    color: $blue-hover;
                }
            }

            @include sm() {
                overflow-wrap: anywhere;
            }
        }
    }

    &.MyMessage {
        .CreatedAt {
            justify-content: flex-end;
        }

        .MessageContainer {
            flex-direction: row-reverse;

            .Message {
                color: $white;
                background: $purple;
                border-top-right-radius: 0;
                border-top-left-radius: 6px;

                &:before {
                    content: none;
                }

                &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 22px;
                    width: 0;
                    height: 0;
                    border: 6px solid transparent;
                    border-left-color: $purple;
                    border-right: 0;
                    margin-top: -5px;
                    margin-right: -6px;
                }

                a {
                    color: #02528b;

                    &:hover {
                        color: #04416c;
                    }
                }
            }
        }
    }
}