@import "../../../../styles/variables";

.ForumRow {
    display: flex;
    width: 100%;
    justify-content: flex-start;

    .UserIcon {
        margin-right: $spacer * 3;
        position: relative;
        height: 60px;
        width: 60px;

        svg {
            height: 60px;
            width: 60px;
            fill: #d1d4d6;
        }

        .CommentCountContainer {
            position: absolute;
            bottom: -3px;
            right: -10px;
            width: 28px;
            height: 28px;
            border-radius: 16px;
            background: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 5px #d1d4d6;

            .CommentCount {
                font-size: $font-size-small;
                line-height: 100%;
                font-weight: 500;
                color: $red;
                letter-spacing: .5px;
            }
        }

        @include sm() {
            margin-right: $spacer * 2.5;
            height: 48px;
            width: 48px;

            svg {
                height: 48px;
                width: 48px;
                fill: #d1d4d6;
            }

            .CommentCountContainer {
                width: 22px;
                height: 22px;
                bottom: -3px;
                right: -6px;

                .CommentCount {
                    font-size: $font-size-xsmall;
                }
            }
        }
    }

    .Content {
        display: flex;
        flex-direction: column;
        gap: $spacer * .5;

        .Title {
            color: $gray-dark;
            font-size: $font-size-medium;
            font-weight: 500;

            @include xs() {
                font-size: $font-size-normal;
            }

            &:hover {
                color: $gray-dark-hover;
            }
        }

        .Meta {
            display: flex;
            width: 100%;
            align-items: center;
            flex-wrap: wrap;

            .MetaItem {
                margin-right: $spacer * 2;
                font-size: $font-size-small;
                color: $gray-darker;
                margin-bottom: $spacer * 0.5;

                &.ReadCount {
                    color: $orange;
                }

                &.Creator {
                    a {
                        color: $blue-light;

                        &:hover {
                            color: $blue;
                        }
                    }
                }

                &.Tag {
                    margin-right: $spacer;
                }
            }
        }
    }
}