@import "../../styles/variables";

.Container {
    width: 100%;

    @include md() {
        padding-left: 0!important;
        padding-right: 16px!important;
    }
}

.AdminLayout {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: $spacer * 2;

    .SidebarMenu {
        max-width: 250px;
        width: 100%;
        height: 100%;
        position: fixed;
    }

    .ContentContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding-left: 250px;

        .NavBar {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            padding: $spacer * 2 $spacer * 3;
            box-shadow: 0 15px 10px -15px $gray;
        }

        .Content {
            width: 100%;
            padding: $spacer * 2 $spacer * 5;

            .Title {
                color: $gray-dark;
                padding-bottom: $spacer * 2;

                @include sm() {
                    padding-bottom: $spacer;
                    font-size: $font-size-large;
                }
            }
        }
    }

    @include md() {
        .SidebarMenu {
            max-width: 60px;
            width: 100%;
        }

        .ContentContainer {
            padding-left: 60px;

            .NavBar {
                padding: 6px;
            }

            .Content {
                padding: 0 0 0 $spacer * 2;
            }
        }
    }
}

.Footer {
    margin-left: 250px;

    @include md() {
        margin-left: 60px;
    }
}
