@import "../../styles/variables";

.AdminLayout {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: $spacer * 2;

    .SidebarMenu {
        max-width: 280px;
        width: 100%;
        height: 100vh;
        position: fixed;
    }

    .ContentContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-left: 280px;

        .NavBar {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            padding: $spacer * 2 $spacer * 3;
            box-shadow: 0 15px 10px -15px $gray;
        }

        .Content {
            width: 100%;
            padding: $spacer * 2 $spacer * 5;

            .Title {
                color: $gray-dark;
                padding-bottom: $spacer * 2;
            }
        }
    }
}

.Footer {
    margin-left: 300px;
}
