@import "../../styles/variables";

.Container {
    position: relative;
    background: $gray-light;
}

.Navbar {
    padding-bottom: $spacer * 8;
    padding-top: $spacer * 3;
}

.Title {
    font-weight: 600;
    font-size: 3rem;
    color: $gray-dark;
    display: flex;
    justify-content: center;
    margin-bottom: $spacer * 6;
}

.RegisterTitle {
    display: flex;
    justify-content: center;
    color: $gray-dark;
    font-weight: 500;
    font-size: $font-size-medium;
    margin-bottom: $spacer * 5;

    a {
        color: $blue;
        margin-left: $spacer;

        &:hover {
            color: $blue-hover;
        }
    }
}

.CookieInfoContainer {
    max-width: 500px;
    width: 100%;
    margin: 0 auto $spacer * 3 auto;
    display: flex;
    padding: $spacer * 2;
    background: #feebc8;
    position: relative;
    gap: $spacer * 3;
    align-items: center;

    svg {
        width: 20px;
        min-width: 20px;
        height: 20px;
        stroke: $yellow-dark;
    }

    .CookieInfoText {
        font-family: $font-family-sailec;
        font-size: 15px;
        font-weight: 500;

        a {
            color: $blue;
            font-weight: 600;

            &:hover {
                color: $blue-hover;
            }
        }
    }
}

.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: $spacer * 4;
}

.ForgotPassword {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-small;
    color: $gray-darker;
    padding-bottom: $spacer * 4;

    .ForgotPasswordLink {
        color: $blue;
        margin-left: $spacer;
        cursor: pointer;

        &:hover {
            color: $blue-hover;
        }
    }
}
