@import "../../../styles/variables";

.FormSelectContainer {
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
        color: $gray-darker;
        margin-bottom: $spacer;
        font-size: $font-size-normal;
        font-weight: 500;
        line-height: 1.2rem;

        span {
            color: $red;
        }
    }

    .FormSelect {
        width: 100%;
        border: 2px solid $gray;
        border-radius: 3px;

        :global(.FormSelect__value-container) {
            padding: 6px $spacer;
        }

        :global(.FormSelect__control) {
            border: 0;
        }

        :global(.FormSelect__placeholder) {
            font-family: $font-family-sailec;
            font-size: $font-size-normal;
            opacity: .7;
        }

        :global(.FormSelect__input) {
            font-family: $font-family-sailec;
        }

        :global(.FormSelect__single-value) {
            font-weight: 500;
            font-family: $font-family-sailec;
        }

        &.Invalid {
            border: 2px solid $red;
        }
    }

    .ErrorText {
        color: $red;
        font-size: $font-size-small;
    }
}