@import "../../styles/variables";

.UserNavBarMenu {
    position: relative;
    cursor: pointer;
    //z-index: 2;

    .LinkTitle {
        color: $white;
        font-weight: 500;
        cursor: pointer;
    }

    .UserAvatar {
        width: 40px;
        height: 40px;
        position: relative;
        cursor: pointer;
    }

    &:hover {
        .LinkTitle {
            color: $gray;
        }
    }

    .Menu {
        width: 180px;
        position: absolute;
        right: 0;
        top: 40px;
        display: none;
        z-index: 1;

        .ArrowWrapper {
            display: flex;
            justify-content: flex-end;
            padding-right: $spacer * 3;

            .Arrow {
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 6px solid $green;
            }
        }

        .Links {
            border-radius: 3px;
            background: $green;
            padding: $spacer 0;

            .LinkWrapper {
                padding: $spacer * 1.5 $spacer * 3;
                display: flex;
                align-items: center;
                cursor: pointer;

                .Link {
                    color: $white;
                    font-weight: 500;
                }

                &:hover {
                    background: $green-hover;
                }
            }
        }

        &.Open {
            display: block;
        }

        &.WithAvatar {
            top: 48px;
        }
    }

    &.Dark {
        .LinkTitle {
            color: $gray-darker;
        }

        &:hover {
            .LinkTitle {
                color: $gray-dark-hover;
            }
        }
    }
}