@import "styles/variables";
@import "styles/mixins";

.TravelmateRow {
    display: flex;
    width: 100%;

    .Avatar {
        display: flex;
        margin-right: .8rem;

        a {
            display: block;

            svg {
                width: 4rem;
                height: 4rem;
                fill: $gray;

                @include sm() {
                    width: 3rem;
                    height: 3rem;
                }
            }
        }
    }

    .Content {
        display: flex;
        width: 100%;
        flex-direction: column;

        .Title {
            color: $gray-dark;
            font-size: 1.3rem;
            font-weight: 500;
            display: block;
            margin-bottom: .3rem;

            @include sm() {
                font-size: 1.1rem;
            }

            &:hover {
                color: $gray-dark-hover;
            }
        }

        .Meta {
            display: flex;

            a {
                margin-right: 1rem;
                font-size: 0.875rem;
                color: $gray-darker;
                white-space: nowrap;

                &.Creator {
                    color: $blue-light;

                    &:hover {
                        color: $blue-hover;
                    }
                }
            }
        }
    }
}
