@import "./styles/variables";
@import "./styles/mixins";

.BlockTitle {
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        opacity: .8;
    }

    .Title {
        font-size: .9rem;
        line-height: 2rem;
        color: $green;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: .05em;
    }

    /*.Icon {
        display: flex;

        svg {
            width: 1rem;
            height: 1rem;
            margin-left: .6rem;
            fill: $gray-dark;
        }
    }*/
}