@import "../../../styles/variables";

.PagePaginator {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: $spacer * 1.5;

    .PageNumber {
        display: flex;
        padding: $spacer * 0.5 $spacer * 1.5;
        border-bottom: 2px solid $gray-darker;
        color: $gray-darker;
        cursor: pointer;
        font-weight: 500;

        &.Disabled {
            color: $gray;
            cursor: not-allowed;
            border-bottom: 2px solid $gray;
        }

        &:hover:not(.Disabled) {
            color: $gray-dark-hover;
            border-bottom: 2px solid $gray-dark-hover;
        }
    }

    .Arrow {
        color: $gray-darker;
        cursor: pointer;
        font-size: $font-size-medium;
        font-weight: 500;
        display: flex;
        padding: 0 $spacer * 2;

        &.ArrowDisabled {
            color: $gray;
            cursor: not-allowed;
        }

        &:hover:not(.ArrowDisabled) {
            color: $gray-dark-hover;
        }
    }

    .Dots {
        color: $gray-darker;
        font-weight: 500;
        padding: $spacer * 0.5;
        letter-spacing: 1px;
    }
}