@import "../../../styles/variables";

.NewsLatest {
    display: flex;
    flex-direction: column;
    width: 100%;

    .NewsGrid {
        margin: $spacer * 3 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: $spacer * 4;
        flex-wrap: wrap;

        .Ad {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
        }

        @include sm() {
            grid-template-columns: 1fr;
        }
    }

    .ViewMore {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
}