@import "../../../styles/variables";

.FormCodeMirrorEditor {
    display: flex;
    width: 100%;

    textarea {
        font-size: $font-size-normal;
        font-weight: 400;
        border-radius: 3px;
        border: 2px solid $gray;
        color: $gray-dark;
        padding: $spacer * 1.5;
        width: 100%;

        &::placeholder {
            color: $gray;
            font-size: $font-size-normal;
            font-weight: 400;
        }
    }
}

.Editor {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    overflow: scroll;
    background: $white;
    display: flex;
    flex-direction: column;

    .SaveButton {
        position: fixed;
        top: 6px;
        right: 15px;
        display: flex;
        border: 1px solid $green-dark;
        padding: $spacer * .5;
        cursor: pointer;
        z-index: 11;
        justify-content: center;
        border-radius: 50%;

        svg {
            width: 25px;
            height: 25px;
            stroke: $green-dark;
        }

        &:hover {
            border: 1px solid $green-darker;

            svg {
                stroke: $green-darker;
            }
        }
    }

    .EditorContainer {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        gap: $spacer * 4;
        padding: 50px 24px 24px 8px;

        .Code {
            flex: 1;
            border-right: 1px solid $gray-light;
        }

        .Preview {
            flex: 1;

            img {
                width: 100%;
            }
        }
    }

    :global(.editor-toolbar) {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        background: $white;
        width: 100%;
        box-shadow: 0 0 24px 0 rgb(0 0 0 / 10%);
        align-items: center;
        display: flex;
        border: 0;
    }

    :global(.EasyMDEContainer .CodeMirror) {
        border: 0;
    }

    :global(.editor-statusbar) {
        display: none;
    }

    @include lg() {
        .EditorContainer {
            flex-direction: column;
        }
    }
}