@import "../../../styles/variables";

.FormCodeMirrorEditor {
    display: flex;
    width: 100%;

    textarea {
        font-size: $font-size-normal;
        font-weight: 400;
        border-radius: 3px;
        border: 2px solid $gray;
        padding: $spacer * 1.5;
        width: 100%;
        cursor: pointer;
        color: $gray-dark;

        &::placeholder {
            color: $gray;
            font-size: $font-size-normal;
            font-weight: 400;
        }
    }
}

.Editor {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    overflow: scroll;
    background: $white;
    display: flex;
    flex-direction: column;

    .SaveButton {
        position: fixed;
        top: 6px;
        right: 15px;
        display: flex;
        padding: $spacer * .5;
        cursor: pointer;
        z-index: 11;
        justify-content: center;
        width: 100px;
        height: 35px;
    }

    .EditorContainer {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        gap: $spacer * 3;
        padding: 50px 24px 24px 8px;

        .Code {
            flex: 1;
            border-right: 1px solid $gray-light;
            font-family: Cousine, monospace;
            font-size: 15px;
            line-height: 20px;
            word-break: break-word;

            :global(.cm-link) {
                color: #6c747a;
                text-decoration: none;
            }

            :global(.cm-string) {
                color: #b35e14;
            }

            :global(.CodeMirror-line) {
                word-break: break-word;
            }
        }

        .Preview {
            flex: 1;
            padding-left: 8px;
            font-family: $font-family-sailec;
            color: $gray-dark;
            word-break: break-word;

            img {
                width: 100%;
            }

            a {
                color: $blue;
            }

            :global(.FlightAvailableTimes) {
                display: flex;
                margin: $spacer * 5 0;

                @include sm() {
                    flex-direction: column;
                    gap: $spacer * 3;
                }

                :global(.FlightAvailableTimesCol) {
                    display: flex;
                    flex-direction: column;
                    flex: 1;

                    :global(.FlightAvailableTimesHeader) {
                        display: flex;
                        font-size: $font-size-medium;
                        font-weight: 600;
                        color: $gray-dark-hover;
                        margin-bottom: $spacer * 2.5;
                    }

                    :global(.FlightAvailableTimesRow) {
                        display: flex;
                        padding: $spacer 0;

                        p {
                            padding: 0;
                            margin: 0;

                            a {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }

    :global(.editor-toolbar) {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        background: $white;
        width: 100%;
        box-shadow: 0 0 24px 0 rgb(0 0 0 / 10%);
        align-items: center;
        display: flex;
        border: 0;
        padding-right: 60px;
    }

    :global(.EasyMDEContainer .CodeMirror) {
        border: 0;
    }

    :global(.editor-statusbar) {
        display: none;
    }

    @include lg() {
        .EditorContainer {
            flex-direction: column;

            .Code {
                border-right: 0;
                border-bottom: 1px solid $gray-light;
            }
        }
    }
}