@import "../../styles/variables";

.Button {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    background: $green-darker;
    border-radius: 3px;
    justify-content: center;
    padding: 12px 36px;
    text-align: center;
    transition: all .2s;
    cursor: pointer;
    box-shadow: 0 0 2px 0 $gray;
    outline: none;
    border: 0;
    height: 50px;

    .Loading {
        display: flex;
        gap: $spacer * 2;
    }

    .Title {
        font-family: $font-family-sailec;
        color: $white;
        font-weight: 600;
        font-size: $font-size-normal;
        line-height: 1.6rem;
        white-space: nowrap;
    }

    &.Light {
        background: $white;

        .Title {
            color: $blue;
        }
    }

    &.Cancel {
        background: $gray-darker;

        .Title {
            color: $white;
        }
    }

    &:disabled {
        cursor: not-allowed;
        opacity: .8;
    }

    &:hover:not([disabled]) {
        background: $green-hover;

        &.Light {
            background: $gray-light;
        }

        &.Cancel {
            background: $gray-dark-hover;
        }
    }
}