@import "../../styles/variables";

.Button {
    display: flex;
    align-items: center;
    background: $green;
    border-radius: 3px;
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 500;
    justify-content: center;
    padding: 12px 36px;
    text-align: center;
    transition: all .2s;
    cursor: pointer;
    height: 3rem;
    box-shadow: 0 0 6px 0 $gray;

    .Title {
        color: $white;
        font-weight: 500;
    }

    &.Light {
        background: $white;

        .Title {
            color: $blue;
        }
    }

    &:hover {
        background: $green-hover;

        &.Light {
            background: $gray-light;
        }
    }
}