@import "../../../styles/variables";
@import "../../../styles/mixins";

.NewsCard {
    display: flex;
    flex-direction: column;
    width: 100%;

    a {
        display: block;
    }

    .Background {
        display: flex;
        position: relative;
        padding-bottom: 55%;
        width: 100%;
    }

    .Title {
        margin-top: .6rem;
        color: $blue;
        font-size: 1.2rem;
        font-weight: 500;

        .CommentCount {
            color: $red;
            font-weight: 400;
        }
    }

    &:hover {
        .Title {
            color: $blue-hover;
        }
    }
}