@import "styles/variables";
@import "styles/mixins";

.Container {
    position: relative;
}

.BackgroundGray {
    background-color: $gray-light;
}

.Navbar {
    padding-bottom: 4rem;
    padding-top: 1.5rem;
}

.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}
