@import "../../styles/variables";

.MainSearchInput {
    display: flex;
    width: 100%;
    text-align: center;
    position: relative;
    height: 55px;
    //border: 1px solid rgba(14, 18, 23, 0.2);
    background: rgba(255, 255, 255, .9);
    box-shadow: 0 18px 48px rgba(14, 18, 23, .6);
    border-radius: 3px;

    .Icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $spacer * 2;

        svg {
            fill: $gray-dark;
            height: 22px;
            width: 22px;
        }

        @include sm() {
            svg {
                width: 20px;
                height: 20px;
            }
        }
    }

    input {
        width: 100%;
        color: $gray-dark;
        outline: none;
        font-size: $font-size-medium;
        font-weight: 600;
        font-family: $font-family-sailec;
        background: transparent;
        border: 0;
        padding-right: $spacer * 2;

        &::placeholder {
            color: $gray-dark;
            font-weight: 400;
            font-size: 1.1rem;
        }

        @include lg() {
            font-size: 1.1rem;
        }
    }

    button {
        display: flex;
        width: 150px;
        position: relative;
        align-items: center;
        background: $green-darker;
        border-radius: 3px;
        justify-content: center;
        text-align: center;
        transition: all 0.2s;
        cursor: pointer;
        outline: none;
        border: 1px solid $green-darker;
        height: 100%;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;

        span {
            color: $white;
            font-family: $font-family-sailec;
            font-size: $font-size-normal;
            font-weight: 600;
        }

        &:hover:not([disabled]) {
            background: $green-hover;
        }
    }

    @include sm() {
        height: 50px;

        input {
            &::placeholder {
                font-size: 1rem;
            }
        }
    }
}