@import "../../styles/variables";

.MainSearchInput {
    display: flex;
    width: 100%;
    text-align: center;
    position: relative;
    height: 55px;
    background: rgba(255, 255, 255, .9);
    border-radius: 3px;

    .Icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $spacer * 2;

        svg {
            fill: $gray-dark;
            height: 22px;
            width: 22px;
        }

        @include sm() {
            padding: $spacer;

            svg {
                width: 18px;
                height: 18px;
            }
        }
    }

    input {
        width: 100%;
        color: $gray-dark;
        outline: none;
        font-size: $font-size-medium;
        font-weight: 600;
        font-family: $font-family-sailec;
        background: transparent;
        border: 0;
        padding-right: $spacer * 2;

        &::placeholder {
            color: $gray-dark;
            font-weight: 400;
            font-size: 1.1rem;
        }

        @include lg() {
            font-size: 1.1rem;
        }

        @include sm() {
            font-size: 1rem;
        }
    }

    .Filter {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 $spacer * 1.5 0 $spacer * 2.5;
        cursor: pointer;
        position: relative;

        span {
            font-family: $font-family-sailec;
            font-size: $font-size-small;
            color: $gray-dark;
            font-weight: 600;
        }

        svg {
            width: 22px;
            height: 22px;
            fill: $gray-dark;
        }

        &:hover {
            span {
                color: $blue-hover;
            }

            svg {
                fill: $blue-hover;
            }
        }

        &:before {
            content: '';
            width: 0;
            height: 50%;
            position: absolute;
            border: 1px solid rgba(209, 212, 214, .7);
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        @include sm() {
            padding: 0 $spacer 0 $spacer * 1.5;
        }
    }

    button {
        display: flex;
        max-width: 140px;
        width: 100%;
        position: relative;
        align-items: center;
        background: $green-darker;
        border-radius: 3px;
        justify-content: center;
        text-align: center;
        transition: all 0.2s;
        cursor: pointer;
        outline: none;
        border: 1px solid $green-darker;
        height: 100%;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;

        span {
            color: $white;
            font-family: $font-family-sailec;
            font-size: $font-size-normal;
            font-weight: 600;
        }

        &:hover:not([disabled]) {
            background: $green-hover;
        }

        @include sm() {
            max-width: 80px;
        }
    }

    @include sm() {
        height: 50px;

        input {
            &::placeholder {
                font-size: 1rem;
            }
        }
    }

    &.FilterActive {
        border-radius: 0;
        border-bottom: 1px solid $gray;

        button {
            border-radius: 0;
        }

        .Filter {
            span {
                color: $blue-hover;
            }

            svg {
                fill: $blue-hover;
            }
        }
    }
}