@import "../../styles/variables";

.HeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: $spacer * 16;
    padding-top: $spacer * 4;

    @include sm() {
        justify-content: center;
    }

    .NextDestination {
        font-size: $font-size-medium;
        color: $yellow;
        font-weight: 500;
        cursor: pointer;

        @include sm() {
            display: none;
        }

        &:hover {
            color: $white;
        }
    }

    .DestinationName {
        font-size: 3rem;
        color: $white;
        font-weight: 600;
        display: flex;
        position: relative;

        @include sm() {
            text-align: center;
            font-size: 2rem;
        }

        .ParentDestinationName {
            display: flex;
            justify-content: flex-end;
            color: $white;
            font-size: $font-size-normal;
            position: absolute;
            bottom: -15px;
            right: 0;
            cursor: pointer;
            white-space: nowrap;

            &:hover {
                color: $gray;
            }
        }
    }
}

.YellowContainer {
    background: $yellow;
    padding-bottom: $spacer * 6;

    .DataContainer {
        display: flex;
        width: 100%;
        gap: $spacer * 8;
        padding-bottom: $spacer * 5;

        @include sm() {
            flex-direction: column;
            gap: 0;
        }

        .FlightOffersBlock {
            display: flex;
            flex-direction: column;
            flex: 1;
            margin-top: -47px;
            z-index: 2;

            .FlightOffersHeader {
                background: $white;
                display: flex;
                justify-content: space-between;
                padding: $spacer * 1.5 $spacer * 2;
                align-items: center;

                .Title {
                    text-transform: uppercase;
                    font-size: $font-size-small;
                    color: $yellow;
                    font-weight: 600;
                }
            }

            .FlightOfferCard {
                display: flex;
                width: 100%;
                height: 150px;
                position: relative;
                box-shadow: 0 2px 6px 0 $yellow-dark;

                .CardBackgroundLayer {
                    background: rgba(0, 0, 0, 0.3);
                    position: absolute;
                    display: flex;
                    height: 100%;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    padding: $spacer * 4;
                    text-align: center;

                    .FlightOfferTitle {
                        color: $white;
                        font-weight: 500;
                        font-size: $font-size-medium;
                        line-height: 1.8rem;
                        cursor: pointer;

                        &:hover {
                            color: $gray;
                        }
                    }
                }
            }
        }

        .MetaDataBlock {
            flex: 3;
            display: flex;
            flex-direction: column;
            position: relative;

            @include md() {
                flex: 1;
            }

            .InfoContainer {
                display: flex;
                flex-direction: column;
                z-index: 3;

                .InfoTable {
                    padding-top: $spacer * 4;
                    border: 0;
                    color: $white;
                    display: flex;

                    td {
                        padding: $spacer * 0.5 0;
                        font-weight: 500;
                    }

                    .TableRowKey {
                        color: $yellow-dark;
                        padding-right: $spacer * 5;
                    }
                }

                .Description {
                    color: $white;
                    font-size: $font-size-normal;
                    max-width: 350px;
                    margin-top: $spacer * 3;
                    font-weight: 500;

                    .ReadMore {
                        font-weight: 600;
                        cursor: pointer;
                        color: $yellow-dark;
                        margin-left: $spacer;
                        white-space: nowrap;

                        &:hover {
                            color: $white;
                        }
                    }
                }
            }

            .Map {
                display: flex;
                position: absolute;
                right: -40px;
                top: -30px;
                z-index: 2;

                svg {
                    width: 550px;
                    fill: $yellow-dark;
                }

                @include md() {
                    position: relative;
                    right: 0;
                    top: 0;

                    svg {
                        width: 100%;
                        margin-top: $spacer * 3;
                    }
                }
            }
        }
    }

    .MoreDestinations {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: $spacer * 2;

        .PopularDestinationTitle {
            color: $yellow-dark;
            text-transform: uppercase;
            font-weight: 600;
            padding-bottom: $spacer * 2;
        }

        .ChildDestinations {
            display: flex;
            flex-wrap: wrap;
            gap: $spacer;
        }
    }

    .HaveBeenBlock {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        gap: $spacer * 3.5;

        .BlockItem {
            display: flex;
            align-items: center;

            span {
                color: $white;
                margin-left: $spacer;
                font-weight: 600;
            }

            svg {
                fill: $white;
                width: 35px;
                height: 35px;
            }
        }
    }
}

.RelatedContent {
    background: $white;
    padding: $spacer * 5 0;
    display: flex;

    @include lg() {
        flex-direction: column;
    }

    .ForumContent {
        flex: 3;
        display: flex;
        flex-direction: column;
        padding-right: $spacer * 6;

        @include lg() {
            flex: 1;
            margin-bottom: $spacer * 4;
            padding-right: 0;
        }

        .ForumBlockTitle {
            color: $yellow;
            margin-bottom: $spacer * 3;
        }

        .MoreForumLink {
            display: flex;
            justify-content: flex-end;
        }
    }

    .AdsContent {
        flex: 1;
        display: flex;
    }
}

