@import "../../styles/variables";
@import "../../styles/mixins";

.MoreLink {
    display: flex;
    align-items: center;

    .Title {
        font-size: $font-size-small;
        color: $blue;
        font-weight: 500;
    }

    .Icon {
        display: flex;
        justify-content: center;

        svg {
            width: $spacer * 3;
            height: $spacer * 3;
            margin-left: $spacer * 2;
            fill: $gray;
        }
    }

    &.Large {
        .Title {
            font-size: $font-size-medium;
            line-height: 2rem;
        }

        .Icon {
            svg {
                width: $spacer * 4;
                height: $spacer * 4;
            }
        }
    }

    &.Medium {
        .Title {
            font-size: $font-size-normal;
            line-height: 1.5rem;
        }

        .Icon {
            svg {
                width: $spacer * 3;
                height: $spacer * 3;
            }
        }
    }

    &:hover {
        .Title {
            color: $blue-hover;
        }

        .Icon {
            svg {
                fill: $gray-darker;
            }
        }
    }
}