@import "../../styles/variables";
@import "../../styles/mixins";

.ShortNewsListItem {
    display: flex;
    width: 100%;

    .Dot {
        width: $spacer * 2;
        height: $spacer * 2;
        border-radius: $spacer;
        background: $green;
        margin-right: $spacer * 3;
        margin-top: $spacer * 2;
    }

    .ShortNewsContent {
        display: flex;
        flex-direction: column;

        .Title {
            display: flex;
            align-items: center;

            a {
                color: $blue;
                font-size: $font-size-normal;
                font-weight: 600;
            }

            &:hover {
                a {
                    color: $blue-hover;
                }
            }
        }

        .Date {
            color: $gray-darker;
            font-size: $font-size-small;
        }
    }
}