@import "../../styles/variables";

.Container {
    width: 100%;
    background: $gray-light;
    padding: $spacer * 4.5 0 $spacer * 6;

    .Content {
        display: flex;
        flex-direction: column;
        gap: $spacer * 5;

        .Column {
            display: flex;
            gap: $spacer * 5;

            @include sm() {
                flex-direction: column;
                gap: $spacer * 3;
            }
        }

        .Row {
            display: flex;
            width: 100%;

        }
    }

    .FlexColumn {
        display: flex;
        flex-direction: column;
        gap: $spacer * 4;
    }
}