@import "../../../../styles/variables";

.Container {
    position: relative;
    background: $gray-light;
}

.Navbar {
    padding-bottom: $spacer * 8;
    padding-top: $spacer * 3;
}

.Title {
    font-weight: 600;
    font-size: 3rem;
    color: $gray-dark;
    display: flex;
    justify-content: center;
    margin-bottom: $spacer * 6;
}

.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: $spacer * 5;
}