@import "../../../styles/variables";

.TravelmateCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: $gray-light;
    position: relative;
    padding: $spacer * 3 $spacer * 4 $spacer * 3 $spacer * 7;

    .UserAndDate {
        display: flex;
        justify-content: space-between;
        margin-bottom: $spacer;

        .UserName {
            color: $gray-darker;
            font-size: $font-size-small;
            display: flex;

            &:hover {
                color: $gray-dark-hover;
            }

            .UserNameContainer {
                display: flex;
                gap: $spacer;
                flex-wrap: wrap;
                align-items: center;
                word-break: break-word;

                .GenderAge {
                    color: $gray-darker;
                    font-size: $font-size-xsmall;
                    font-weight: 500;
                }
            }
        }

        .CreatedAt {
            font-size: $font-size-small;
            color: #545a5f;
            font-weight: 500;
            opacity: .4;
        }
    }

    .Title {
        color: $blue;
        font-size: $font-size-normal;
        font-weight: 500;
        margin-bottom: $spacer * 2;

        &:hover {
            color: $blue-hover;
        }

        @include sm() {
            font-size: $font-size-normal;
        }
    }

    .Tags {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: $spacer;
    }

    .UserAvatar {
        height: 65px;
        width: 65px;
        position: absolute;
        top: 20px;
        left: -31px;
        cursor: pointer;

        @include sm() {
            height: 60px;
            width: 60px;
            top: 20px;
            left: -30px;
        }
    }
}