@import "../../../styles/variables";

.FlightOfferList {
    display: flex;
    flex-direction: column;
    width: 100%;

    .FlightOfferRow {
        width: 100%;
        margin-bottom: $spacer * 2.5;
    }

    .Ad {
        max-width: 640px;
        width: 100%;
        overflow: hidden;
        margin: 0 auto;

        iframe {
            margin-bottom: $spacer * 2.5;
        }

        @include sm() {
            display: block;
            flex-direction: column;
            justify-content: center;
        }
    }
}
