@import "variables";
@import "mixins";

.ContainerXl {
    max-width: 1280px;
    width: 100%;
    padding: 0 $spacer * 8;
    margin: 0 auto;

    @include xs() {
        padding: 0 $spacer * 6;
    }
}

.container_lg {
    max-width: 1024px;
    width: 100%;
    padding: 0 $spacer * 8;
    margin: 0 auto;

    @include xs() {
        padding: 0 $spacer * 6;
    }
}

.CenteredContainer {
    display: flex;
    flex-direction: column;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    width: 100%;
    margin: 0 auto;

    @include lg() {
        width: 100%;
        max-width: 100%;
    }
}