@import "variables";

.ContainerXl {
    max-width: 1280px;
    width: 100%;
    padding: 0 $spacer * 4;
    margin: 0 auto;

    @include sm() {
        padding: 0 $spacer * 2.5;
    }
}

.ContainerLg {
    max-width: 1024px;
    width: 100%;
    padding: 0 $spacer * 4;
    margin: 0 auto;

    @include sm() {
        padding: 0 $spacer * 2.5;
    }
}

.CenteredContainer {
    display: flex;
    flex-direction: column;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    width: 100%;
    margin: 0 auto;

    @include lg() {
        width: 100%;
        max-width: 100%;
    }
}