@import "../../styles/variables";

.Search {
    padding-bottom: $spacer * 9;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;

    @include lg() {
        width: 75%;
    }

    @include md() {
        width: 100%;
        padding-bottom: $spacer * 7;
    }
}

.Content {
    display: flex;
    width: 100%;
    margin: $spacer * 7 0;

    @include md() {
        flex-direction: column;
        margin: $spacer * 5 0;
    }

    .NewsGridContainer {
        display: flex;
        flex-direction: column;
        flex: 3;

        .NewsGrid {
            padding-right: $spacer * 8;
            padding-left: $spacer * 4;
            flex-wrap: wrap;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: $spacer * 5;

            @include lg() {
                flex: 1;
                padding-left: 0;
                padding-right: $spacer * 6;
                grid-template-columns: 1fr;
                gap: $spacer * 4;
            }

            @include md() {
                padding-right: 0;
            }
        }

        .Paginator {
            margin-top: $spacer * 8;

            @include md() {
                margin: $spacer * 3 0 $spacer * 5 0;
            }
        }
    }

    .Sidebar {
        flex: 1;
        flex-direction: column;

        .DescriptionBlock {
            background: $gray-light;
            padding: $spacer * 3;
            margin-bottom: $spacer * 3;

            .Description {
                color: $gray-dark-hover;
                font-weight: 500;
            }

            .AddNewButton {
                margin-top: $spacer * 3;
            }
        }
    }
}

.HeaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .HeaderTitle {
        font-size: $font-size-xxlarge;
        line-height: 2.75rem;
        color: $white;
        font-weight: 600;
        padding-top: $spacer * 10;
        padding-bottom: $spacer * 2;
        max-width: 720px;

        @include md() {
            font-size: $font-size-large;
            padding-top: $spacer * 5;
        }
    }

    .DateAndUser {
        display: flex;
        padding-bottom: $spacer * 2.5;
        align-items: center;

        .User {
            width: 50px;
            height: 50px;
            margin-right: $spacer * 2;

            @include sm() {
                width: 40px;
                height: 40px;
            }
        }

        .HeaderDate {
            font-size: $font-size-small;
            font-weight: 500;
            color: $white;
        }
    }

    .Tags {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: $spacer * 4;
        gap: $spacer;
    }
}

.BodyContainer {
    display: flex;
    width: 100%;
    padding: $spacer * 4 0 $spacer * 6 0;

    @include lg() {
        flex-direction: column;
    }

    .BodyWithComments {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex: 3;

        .Body {
            color: $gray-dark;
            font-family: $font-family-sailec;
            font-size: $font-size-medium;
            overflow-wrap: break-word;
            word-wrap: break-word;
            padding-right: $spacer * 2;

            @include md() {
                font-size: $font-size-normal;
            }

            a {
                color: $blue;
                word-break: break-all;

                &:hover {
                    color: $blue-hover;
                }
            }

            img {
                width: 100%;
            }
        }

        .Comments {
            display: flex;
            flex-direction: column;
            margin-top: $spacer * 5;
            gap: $spacer * 3;
            padding-bottom: $spacer * 2;
        }

        .AddComment {
            margin: $spacer * 4 0;
            display: flex;
            flex-direction: column;
            gap: $spacer * 2;
        }
    }

    .SidebarShow {
        flex: 1;
        padding-left: $spacer * 6;

        @include lg() {
            padding-left: 0;
        }

        .AddNewNews {
            margin-top: $spacer * 2.5;
        }
    }
}