@import "../../styles/variables";

.SearchContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding-bottom: $spacer * 9;

    @include lg() {
        width: 75%;
    }

    @include md() {
        width: 100%;
    }

    @include sm() {
        padding-bottom: $spacer * 7;
    }
}

.Search {
    display: flex;
    width: 100%;
}

.FilterContainer {
    display: flex;
    flex-direction: column;

    .AdvancedSearch {
        background: rgba(255, 255, 255, .9);
        box-shadow: 0 18px 48px rgba(14, 18, 23, .6);
        display: flex;
        flex-direction: column;
        padding: $spacer * 2;
        gap: $spacer;
    }
}

.Filters {
    display: flex;
    gap: $spacer * 2;

    @include sm() {
        flex-direction: column;
        width: 100%;
        gap: $spacer * 2;
    }

    .Select {
        color: $white;
        width: 100%;

        :global(.ForumFilter__control) {
            background: transparent;
            cursor: pointer;
            border-color: rgba(255, 255, 255, .6);
            box-shadow: none;
            height: 45px;
            border-radius: 3px;
        }

        :global(.ForumFilter__placeholder) {
            color: $gray-dark;
            font-family: $font-family-sailec;
            opacity: .8;
        }

        :global(.ForumFilter__control--menu-is-open, .ForumFilter__control--is-focused) {
            border-color: $gray-dark;
            box-shadow: none;
        }

        :global(.ForumFilter__input) {
            color: $gray-dark;
            font-family: $font-family-sailec;
        }

        :global(.ForumFilter__single-value) {
            color: $gray-dark;
            font-weight: 500;
            font-family: $font-family-sailec;
        }

        :global(.ForumFilter__option) {
            color: $gray-darker;
            cursor: pointer;
        }

        :global(.ForumFilter__option--is-selected) {
            color: $gray-dark-hover;
            background-color: $blue;
        }

        :global(.ForumFilter__menu-notice) {
            color: $gray-dark;
        }

        :global(.ForumFilter__indicator) {
            color: $gray-dark;

            &:hover {
                color: $gray;
            }
        }
    }
}

.Content {
    display: flex;
    width: 100%;
    margin: $spacer * 6 0;

    @include md() {
        flex-direction: column;
        margin: $spacer * 5 0;
    }

    @include sm() {
        margin: $spacer * 3 0;
    }

    .NewsGridContainer {
        display: flex;
        flex-direction: column;
        flex: 3;

        .ResultCount {
            font-family: $font-family-sailec;
            color: $gray-darker;
            font-weight: 500;
            padding-bottom: $spacer;
            border-bottom: 1px solid rgba(209, 212, 214, .7);
            margin-bottom: $spacer * 3;
            margin-right: $spacer * 8;

            @include sm() {
                font-size: $font-size-small;
            }
        }

        .NewsGrid {
            padding-right: $spacer * 8;
            flex-wrap: wrap;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: $spacer * 5;

            @include lg() {
                flex: 1;
                padding-right: $spacer * 6;
                grid-template-columns: 1fr;
                gap: $spacer * 4;
            }

            @include md() {
                padding-right: 0;
            }
        }

        .Paginator {
            margin-top: $spacer * 8;

            @include md() {
                margin: $spacer * 3 0 $spacer * 5 0;
            }
        }
    }

    .Sidebar {
        flex: 1;
        flex-direction: column;

        .DescriptionBlock {
            background: $gray-light;
            padding: $spacer * 3;
            margin-bottom: $spacer * 3;

            .Description {
                color: $gray-dark-hover;
                font-weight: 500;
            }

            .AddNewButton {
                margin-top: $spacer * 3;
            }
        }
    }
}

.HeaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: $spacer * 8;
    padding-bottom: $spacer;

    .HeaderTitle {
        font-size: $font-size-xxlarge;
        line-height: 2.75rem;
        color: $white;
        font-weight: 600;
        padding-bottom: $spacer * 4;
        max-width: 720px;

        @include md() {
            font-size: $font-size-large;
        }
    }

    .DateAndUser {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: $spacer * 2;
        gap: $spacer * 2;

        .Author {
            display: flex;
            justify-content: center;
            align-items: center;

            .User {
                width: 40px;
                height: 40px;
                margin-right: $spacer * 1.5;

                @include sm() {
                    width: 35px;
                    height: 35px;
                }
            }

            .UserName {
                font-family: $font-family-sailec;
                color: $blue;
                font-weight: 500;
            }

            &:hover {
                .UserName {
                    color: $blue-hover;
                }
            }
        }

        .DateInfo {
            font-size: $font-size-small;
            font-weight: 400;
            color: $gray-light;
        }
    }

    .Tags {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: $spacer * 4;
        gap: $spacer;
    }

    .ActionButtons {
        display: flex;
        gap: $spacer;
        margin-bottom: $spacer * 3;

        .ActionButton {
            font-size: $font-size-xsmall;
            font-weight: 500;
            color: $white;
            background: $green-dark;
            padding: 4px $spacer * 2;
            cursor: pointer;
            border-radius: 3px;
            opacity: .9;

            &.Hide {
                background: $warning-color;
                color: $gray-dark;
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    @include sm() {
        padding-top: $spacer * 3;
    }
}

.BodyContainer {
    display: flex;
    width: 100%;
    padding: $spacer * 5 0 $spacer * 6 0;

    @include lg() {
        flex-direction: column;
    }

    .BodyWithComments {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex: 3;

        .NotPublished {
            padding-bottom: $spacer * 4;
            display: flex;
            width: 100%;
        }

        .Body {
            color: $gray-dark;
            font-family: $font-family-sailec;
            font-size: $font-size-medium;
            overflow-wrap: break-word;
            word-wrap: break-word;
            padding-right: $spacer * 2;
            margin-bottom: $spacer * 6;

            @include md() {
                font-size: $font-size-normal;
            }

            p:first-child {
                margin-top: 0;
            }

            a {
                color: $blue;
                word-break: break-all;

                &:hover {
                    color: $blue-hover;
                }
            }

            img {
                width: 100%;
            }
        }

        .Comments {
            display: flex;
            flex-direction: column;
            gap: $spacer * 3;
            margin-bottom: $spacer * 5;
        }

        .AddComment {
            margin-bottom: $spacer * 4;
            display: flex;
            flex-direction: column;
            gap: $spacer * 2;
        }
    }

    .SidebarShow {
        flex: 1;
        padding-left: $spacer * 6;

        @include lg() {
            padding-left: 0;
        }
    }
}