@import "../../styles/variables";

.BlockTitle {
    display: flex;
    cursor: default;
    font-size: $font-size-normal;
    line-height: 2rem;
    color: $green-darker;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .05em;

    @include xs() {
        font-size: $font-size-small;
        line-height: 1.6rem;
    }
}