@import "../../../styles/variables";
@import "../../../styles/mixins";

.TravelmateRow {
    display: flex;
    width: 100%;

    .Avatar {
        display: flex;
        margin-right: $spacer * 4;

        a {
            display: block;

            svg {
                width: $spacer * 16;
                height: $spacer * 16;
                fill: $gray;

                @include sm() {
                    width: $spacer * 12;
                    height: $spacer * 12;
                }
            }
        }
    }

    .Content {
        display: flex;
        width: 100%;
        flex-direction: column;

        .Title {
            color: $gray-dark;
            font-size: 1.3rem;
            font-weight: 500;
            display: block;
            margin-bottom: .3rem;

            @include sm() {
                font-size: 1.1rem;
            }

            &:hover {
                color: $gray-dark-hover;
            }
        }

        .Meta {
            display: flex;
            flex-wrap: wrap;

            .MetaItem {
                margin-right: $spacer * 4;
                font-size: $font-size-small;
                color: $gray-darker;
                margin-bottom: $spacer;

                &.Creator {
                    color: $blue-light;

                    &:hover {
                        color: $blue-hover;
                    }
                }
            }
        }
    }
}
