@import "../../styles/variables";

.FlightOfferTabs {
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto $spacer * 5 auto;

    @include sm() {
        margin-bottom: $spacer * 3;
    }
}

.Content {
    display: flex;
    width: 100%;
    margin: $spacer * 7 0;

    @include md() {
        flex-direction: column;
        margin: $spacer * 5 0;
    }

    .FlightOfferList {
        display: flex;
        flex-direction: column;
        flex: 2;
        padding-right: $spacer * 9;

        .Paginator {
            margin-top: $spacer * 5;
        }

        @include md() {
            padding-right: 0;

            .Paginator {
                margin: $spacer * 3 0 $spacer * 5 0;
            }
        }
    }

    .Sidebar {
        flex: 1;

        .DescriptionBlock {
            background: $gray-light;
            padding: $spacer * 3;

            .DescriptionFirstPart {
                color: $gray-dark-hover;
                margin-bottom: $spacer;
                font-weight: 500;
            }

            .DescriptionSecondPart {
                color: $gray-dark;
                padding-bottom: $spacer * 1.5;
            }

            .MoreLink {
                margin-top: $spacer;
            }
        }

        .AddNewButton {
            margin-top: $spacer * 4;
        }
    }
}

.HeaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .HeaderTitle {
        font-size: $font-size-xxlarge;
        line-height: 2.75rem;
        color: $white;
        font-weight: 600;
        padding-top: $spacer * 9;
        padding-bottom: $spacer * 2.5;
        max-width: 720px;

        @include md() {
            font-size: $font-size-large;
            padding-top: $spacer * 5;
        }
    }

    .HeaderDate {
        font-size: $font-size-small;
        font-weight: 500;
        color: $white;
        padding-bottom: $spacer * 2.5;
    }

    .Tags {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: $spacer * 4;
        gap: $spacer;
    }
}

.BodyContainer {
    display: flex;
    width: 100%;
    padding: $spacer * 4 0;

    @include lg() {
        flex-direction: column;
    }

    .Body {
        flex: 3;
        color: $gray-dark;
        font-family: $font-family-sailec;
        font-size: $font-size-medium;
        overflow-wrap: break-word;
        word-wrap: break-word;
        padding-right: $spacer * 2;

        @include md() {
            font-size: $font-size-normal;
        }

        .NotPublished {
            padding-bottom: $spacer * 4;
        }

        a {
            color: $blue;
            word-break: break-all;

            &:hover {
                color: $blue-hover;
            }
        }

        img {
            width: 100%;
        }

        :global(.FlightAvailableTimes) {
            display: flex;
            margin: $spacer * 5 0;

            @include sm() {
                flex-direction: column;
                gap: $spacer * 3;
            }

            :global(.FlightAvailableTimesCol) {
                display: flex;
                flex-direction: column;
                flex: 1;

                :global(.FlightAvailableTimesHeader) {
                    display: flex;
                    font-size: $font-size-medium;
                    font-weight: 600;
                    color: $gray-dark-hover;
                    margin-bottom: $spacer * 2.5;
                }

                :global(.FlightAvailableTimesRow) {
                    display: flex;
                    padding: $spacer 0;

                    p {
                        padding: 0;
                        margin: 0;

                        a {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .SidebarShow {
        flex: 1;
        padding-left: $spacer * 6;

        @include lg() {
            padding-left: 0;
        }
    }
}

