@import "../../styles/variables";

.FlightOfferTabs {
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto $spacer * 5 auto;

    @include sm() {
        margin-bottom: $spacer * 3;
    }
}

.Content {
    display: flex;
    width: 100%;
    margin: $spacer * 7 0;

    @include md() {
        flex-direction: column;
        margin: $spacer * 5 0;
    }

    .FlightOfferList {
        display: flex;
        flex-direction: column;
        flex: 2;
        padding-right: $spacer * 9;

        .Paginator {
            margin-top: $spacer * 5;
        }

        @include md() {
            padding-right: 0;

            .Paginator {
                margin: $spacer * 3 0 $spacer * 5 0;
            }
        }
    }

    .Sidebar {
        flex: 1;

        .DescriptionBlock {
            background: $gray-light;
            padding: $spacer * 3;

            .DescriptionFirstPart {
                color: $gray-dark-hover;
                margin-bottom: $spacer;
                font-weight: 500;
            }

            .DescriptionSecondPart {
                color: $gray-dark;
                padding-bottom: $spacer * 1.5;
            }

            .MoreLink {
                margin-top: $spacer;
            }
        }

        .AddNewButton {
            margin-top: $spacer * 4;
        }
    }
}

.HeaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .HeaderTitle {
        font-size: $font-size-xxlarge;
        line-height: 2.75rem;
        color: $white;
        font-weight: 600;
        padding-top: $spacer * 8;
        padding-bottom: $spacer * 2.5;
        max-width: 720px;

        @include md() {
            font-size: $font-size-large;
            padding-top: $spacer * 5;
        }
    }

    .HeaderDate {
        font-size: $font-size-small;
        font-weight: 500;
        color: $white;
        padding-bottom: $spacer * 2.5;
    }

    .Tags {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: $spacer * 5;
        gap: $spacer;
        justify-content: center;
    }

    .ActionButtons {
        display: flex;
        gap: $spacer;
        margin-bottom: $spacer * 3;

        .ActionButton {
            font-size: $font-size-xsmall;
            font-weight: 500;
            color: $white;
            background: $green-dark;
            padding: 4px $spacer * 2;
            cursor: pointer;
            border-radius: 3px;
            opacity: .9;

            &.Hide {
                background: $warning-color;
                color: $gray-dark;
            }

            &:hover {
                opacity: 1;
            }
        }
    }
}

.ContentContainer {
    display: flex;
    width: 100%;
    padding: $spacer * 4 0 $spacer * 7;

    @include lg() {
        flex-direction: column;
    }

    @include sm() {
        padding: $spacer * 4 0 $spacer * 5;
    }

    .BodyContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex: 3;
        padding-right: $spacer * 2;
        gap: $spacer * 5;

        .Body {
            color: $gray-dark;
            font-family: $font-family-sailec;
            font-size: $font-size-medium;
            overflow-wrap: break-word;
            word-wrap: break-word;

            @include md() {
                font-size: $font-size-normal;
            }

            .NotPublished {
                padding-bottom: $spacer * 4;
            }

            p:first-child {
                margin-top: 0;
            }

            a {
                color: $blue;
                word-break: break-all;

                &:hover {
                    color: $blue-hover;
                }
            }

            img {
                width: 100%;
            }

            :global(.FlightAvailableTimes) {
                display: flex;
                margin: $spacer * 5 0;

                @include sm() {
                    flex-direction: column;
                    gap: $spacer * 3;
                }

                :global(.FlightAvailableTimesCol) {
                    display: flex;
                    flex-direction: column;
                    flex: 1;

                    :global(.FlightAvailableTimesHeader) {
                        display: flex;
                        font-size: $font-size-medium;
                        font-weight: 600;
                        color: $gray-dark-hover;
                        margin-bottom: $spacer * 2.5;
                    }

                    :global(.FlightAvailableTimesRow) {
                        display: flex;
                        padding: $spacer 0;

                        p {
                            padding: 0;
                            margin: 0;

                            a {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        .MoreFlightOffers {
            display: flex;
            width: 100%;
        }
    }

    .SidebarShow {
        flex: 1;
        padding-left: $spacer * 6;

        @include lg() {
            padding-left: 0;
        }
    }
}

.RelatedContentContainer {
    background: $gray-light;
    padding: $spacer * 4 0 $spacer * 6;

    .LatestContentContainer {
        display: flex;
        flex-direction: column;
        gap: $spacer * 5;

        .Column {
            display: flex;
            gap: $spacer * 5;

            @include sm() {
                flex-direction: column;
                gap: $spacer * 3;
            }
        }

        .Row {
            display: flex;
            width: 100%;

        }
    }
}

