@import "../../../../styles/variables";

.AdminForumPost {
    display: flex;
    flex-direction: column;
    width: 100%;

    .ForumPost {
        margin: $spacer * 4 0 $spacer * 3 0;
    }
}

.Loading {
    display: flex;
    justify-content: center;
    padding-top: $spacer * 4;
}