@import "../../../styles/variables";

.HeaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: $spacer * 8;
    padding-bottom: $spacer;

    .HeaderTitle {
        font-size: $font-size-xxlarge;
        line-height: 2.75rem;
        color: $white;
        font-weight: 600;
        padding-bottom: $spacer * 4;
        max-width: 720px;

        @include md() {
            font-size: $font-size-large;
        }
    }

    .DateAndUser {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: $spacer * 2;
        gap: $spacer * 2;

        .Author {
            display: flex;
            justify-content: center;
            align-items: center;

            .User {
                width: 40px;
                height: 40px;
                margin-right: $spacer * 1.5;

                @include sm() {
                    width: 35px;
                    height: 35px;
                }
            }

            .UserName {
                font-family: $font-family-sailec;
                color: $blue;
                font-weight: 500;
            }

            &:hover {
                .UserName {
                    color: $blue-hover;
                }
            }
        }

        .DateInfo {
            font-size: $font-size-small;
            font-weight: 400;
            color: $gray-light;
        }
    }

    .Tags {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: $spacer * 4;
        gap: $spacer;
    }

    .ActionButtons {
        display: flex;
        gap: $spacer;
        margin-bottom: $spacer * 3;

        .ActionButton {
            font-size: $font-size-xsmall;
            font-weight: 500;
            color: $white;
            background: $green-dark;
            padding: 4px $spacer * 2;
            cursor: pointer;
            border-radius: 3px;
            opacity: .9;

            &.Hide {
                background: $warning-color;
                color: $gray-dark;
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    @include sm() {
        padding-top: $spacer * 3;
    }
}

.BodyContainer {
    display: flex;
    width: 100%;
    padding: $spacer * 5 0 $spacer * 6 0;
    gap: $spacer * 10;

    @include lg() {
        flex-direction: column;
        gap: $spacer * 3;
    }

    @include sm() {
        padding: $spacer * 4 0 $spacer * 5 0;
    }

    .BodyWithComments {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex: 3;

        .NotPublished {
            padding-bottom: $spacer * 4;
            display: flex;
            width: 100%;
        }

        .BodyWrapper {
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: $spacer * 3;

            .DesktopTopAd {
                display: flex;
                width: 100%;

                @include sm() {
                    display: none;
                }
            }

            .MobileTopAd {
                display: none;

                @include sm() {
                    display: flex;
                    justify-content: center;
                }
            }

            .TopAd {
                width: 100%;
                max-width: 720px;
                overflow: hidden;
                display: flex;
                justify-content: center;
            }

            .Body {
                color: $gray-dark;
                font-family: $font-family-sailec;
                font-size: $font-size-medium;
                overflow-wrap: break-word;
                word-wrap: break-word;
                margin-bottom: $spacer * 6;

                @include md() {
                    font-size: $font-size-normal;
                }

                @include sm() {
                    margin-bottom: $spacer * 4;
                }

                p:first-child {
                    margin-top: 0;
                }

                a {
                    color: $blue;
                    word-break: break-word;

                    &:hover {
                        color: $blue-hover;
                    }
                }

                img {
                    width: 100%;
                }

                :global(.Youtube__iframe) {
                    width: 100%;
                    position: relative;
                    padding-bottom: 56.25%;
                    height: 0;

                    iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .Comments {
            display: flex;
            flex-direction: column;
            gap: $spacer * 3;
            margin-bottom: $spacer * 5;

            @include sm() {
                margin-bottom: $spacer * 2;
            }
        }

        .AddComment {
            margin-bottom: $spacer * 4;
            display: flex;
            flex-direction: column;
            gap: $spacer * 2;
        }

        .MobileAdBody {
            display: none;

            @include sm() {
                display: block;

                iframe {
                    margin-bottom: $spacer * 5;
                }
            }
        }
    }
}

.Sidebar {
    //flex: 1;
    flex-direction: column;
    gap: $spacer * 3;
    //width: 100%;
    max-width: 300px;
    display: flex;
    width: 300px;

    @include sm() {
        display: none;
    }

    .DescriptionBlock {
        background: $gray-light;
        padding: $spacer * 3;
        margin-bottom: $spacer * 3;

        .Description {
            color: $gray-dark-hover;
            font-weight: 500;
        }

        .AddNewButton {
            margin-top: $spacer * 3;
        }

        &.hideWhenNotLoggedIn {
            @include sm() {
                display: none;
            }
        }
    }

    .ContentMarketingSlider {
        width: 100%;
        background: $gray-light;
    }

    .Ads {
        width: 100%;
        max-width: 300px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: $spacer * 2;
        margin: 0 auto;

        @include sm() {
            display: none;
        }
    }
}