@import "../../../styles/variables";

.FormDateRangePicker {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    .Label {
        color: $gray-darker;
        margin-bottom: $spacer;
        font-size: $font-size-normal;
        font-weight: 500;
        line-height: 1.2rem;
        font-family: $font-family-sailec;

        span {
            color: $red;
            margin-left: 2px;
        }
    }

    .Input {
        font-size: 1rem;
        font-weight: 500;
        border-radius: 3px;
        border: 2px solid #d1d4d6;
        color: #545a5f;
        width: 100%;
        height: auto;
        padding-top: 6px;
        padding-bottom: 6px;
        font-family: $font-family-sailec;

        &::placeholder {
            color: $gray;
            font-size: $font-size-normal;
            font-weight: 400;
        }
    }

    .ErrorText {
        color: $red;
        font-size: $font-size-small;
    }

    &.Invalid {
        .Input {
            border: 2px solid $red;
        }
    }
}

.CalendarBase {
    display: flex;

    @include sm() {
        flex-direction: column;
    }
}