@import "../styles/variables";

.Navbar {
    padding-bottom: $spacer * 8;
    padding-top: $spacer * 3;
}

.Search {
    padding-bottom: $spacer * 14;
    width: 50%;
    margin: 0 auto;

    @include md() {
        width: 60%;
    }

    @include sm() {
        width: 100%;
        padding-bottom: $spacer * 12;
    }
}

.CenteredContainer {
    display: flex;
    flex-direction: column;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    @include lg() {
        width: 100%;
        max-width: 100%;
    }
}

.FlightOffers {
    display: flex;
    margin: $spacer * -5.5 auto $spacer * 2 auto;
    width: 100%;

    @include md() {
        flex-direction: column;
    }

    .FlightOfferCard {
        flex: 1 1 0;
        border: none;
    }
}

.MoreFlightsLink {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: $spacer * 2;

    &.UserLoggedIn {
        margin-bottom: $spacer;
    }

    @include sm() {
        justify-content: center;
    }
}

.JoinTripBlock {
    display: flex;
    width: 100%;
    padding: 0 3rem 1rem 3rem;

    @include sm() {
        flex-direction: column;
        padding: 0;
        margin-bottom: $spacer * 2;
    }

    .TripDescription {
        display: flex;
        flex-direction: column;
        flex: 3;
        align-items: flex-start;
        margin-right: $spacer * 4;

        @include sm() {
            margin-right: 0;
        }

        @include lg() {
            flex: 2;
        }

        .DescriptionText {
            font-size: $font-size-normal;
            line-height: 1.7rem;
            color: $gray-dark;
            margin-bottom: $spacer;
            padding-right: $spacer * 4;
            font-weight: 500;

            @include sm() {
                padding-right: 0;
                line-height: 1.4rem;
            }
        }
    }

    .JoinButton {
        flex: 1;
        margin-top: $spacer * 2.5;
    }
}

.ForumContainer {
    display: flex;
    flex-direction: column;
    width: 100%;

    .ForumBlockTitle {
        margin: $spacer * 3 0 $spacer 0;
    }

    .ForumBlock {
        display: flex;
        width: 100%;

        @include md() {
            flex-direction: column;
        }

        .ForumList {
            display: flex;
            flex: 2;
            flex-direction: column;
            width: 100%;
            justify-content: flex-start;
            margin-top: $spacer * 2;
        }

        .SidebarContent {
            display: flex;
            width: 100%;
            flex: 1;
            justify-content: center;
            padding: $spacer * 2 0 0 $spacer * 5;

            @include md() {
                padding: $spacer * 2 0 0 0;
                justify-content: flex-start;
            }

            .ForumLinks {
                display: flex;
                flex-direction: column;

                .ForumLink {
                    margin-bottom: $spacer * 4;

                    .ForumDescription {
                        display: flex;
                        font-size: $font-size-normal;
                        color: $gray-dark;
                        margin-top: $spacer * 2;
                    }
                }
            }
        }
    }

    .ViewMoreForumPosts {
        display: flex;
        width: 100%;
        justify-content: flex-end;

        @include md() {
            display: none;
        }
    }
}

.NewsContainer {
    display: flex;
    width: 100%;
    margin: $spacer * 4 0;
}

.ImageGalleryContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: $spacer * 3;
}

.BottomContainer {
    background: $gray-light;

    .TravelFlightContainer {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: $spacer * 4 0;

        .TravelmateFlightBlock {
            display: flex;
            flex-direction: column;
            width: 50%;

            @include lg() {
                width: 100%;
            }

            &.Travelmates {
                padding-left: $spacer * 5;

                @include lg() {
                    padding-left: 0;
                }
            }
        }
    }
}