@import "../styles/variables";
@import "../styles/mixins";

.Header {
    overflow: hidden;
}

.Navbar {
    padding-bottom: $spacer * 16;
    padding-top: $spacer * 6;
}

.Search {
    padding-bottom: $spacer * 28;
    width: 50%;
    margin: 0 auto;

    @include md() {
        width: 60%;
    }

    @include sm() {
        width: 100%;
    }
}

.CenteredContainer {
    display: flex;
    flex-direction: column;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    @include lg() {
        width: 100%;
        max-width: 100%;
    }
}

.FlightOffers {
    display: flex;
    margin: -2.6rem auto 1rem auto;
    width: 100%;

    @include md() {
        flex-direction: column;
    }

    .FlightOfferCard {
        flex: 1 1 0;
        border: none;
    }
}

.MoreFlightsLink {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 1rem;

    @include sm() {
        justify-content: center;
    }
}

.JoinTripBlock {
    display: flex;
    width: 100%;
    padding: 0 3rem 1rem 3rem;

    @include sm() {
        flex-direction: column;
        padding: 0;
        margin-bottom: 1rem;
    }

    .TripDescription {
        display: flex;
        flex-direction: column;
        flex: 3;
        align-items: flex-start;
        margin-right: 2rem;

        @include sm() {
            margin-right: 0;
        }

        @include lg() {
            flex: 2;
        }

        .DescriptionText {
            font-size: 1.1rem;
            line-height: 1.7rem;
            color: $gray-dark;
            margin-bottom: .5rem;

            @include sm() {
                font-size: 1rem;
                line-height: 1.4rem;
                font-weight: 500;
            }
        }
    }

    .JoinButton {
        flex: 1;
        margin-top: 1.2rem;
    }
}

.ForumContainer {
    display: flex;
    flex-direction: column;
    width: 100%;

    .ForumBlockTitle {
        margin: 1.5rem 0 .5rem 0;
    }

    .ForumBlock {
        display: flex;
        width: 100%;

        @include md() {
            flex-direction: column;
        }

        .ForumList {
            display: flex;
            flex: 2;
            flex-direction: column;
            width: 100%;
            justify-content: flex-start;
            margin-top: 1rem;
        }

        .SidebarContent {
            display: flex;
            width: 100%;
            flex: 1;
            justify-content: center;
            padding: 1rem 0 0 2.5rem;

            @include md() {
                padding: 1rem 0 0 0;
                justify-content: flex-start;
            }

            .ForumLinks {
                display: flex;
                flex-direction: column;

                .ForumLink {
                    margin-bottom: 2rem;

                    .ForumDescription {
                        display: flex;
                        font-size: 1rem;
                        color: $gray-dark;
                        margin-top: 1rem;
                    }
                }
            }
        }
    }

    .ViewMoreForumPosts {
        display: flex;
        width: 100%;
        justify-content: flex-end;

        @include md() {
            display: none;
        }
    }
}

.NewsContainer {
    display: flex;
    width: 100%;
    margin: 2rem 0;
}

.ImageGalleryContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: $spacer * 6;
}

.BottomContainer {
    background: $gray-light;

    .TravelFlightContainer {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: $spacer * 8 0;

        .TravelmateFlightBlock {
            display: flex;
            flex-direction: column;
            width: 50%;

            @include lg() {
                width: 100%;
            }

            &.Travelmates {
                padding-left: 2.5rem;

                @include lg() {
                    padding-left: 0;
                }
            }
        }
    }
}