@import "../styles/variables";

.Navbar {
    padding-bottom: $spacer * 10;
    padding-top: $spacer * 3;

    @include sm() {
        padding-bottom: $spacer * 7;
    }
}

.Search {
    padding-bottom: 120px;
    width: 50%;
    margin: 0 auto;

    @include md() {
        width: 60%;
    }

    @include sm() {
        width: 100%;
        padding-bottom: $spacer * 12;
    }
}

.CenteredContainer {
    display: flex;
    flex-direction: column;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    @include lg() {
        width: 100%;
        max-width: 100%;
    }
}

.FlightOffers {
    display: flex;
    margin: $spacer * -5.5 auto $spacer auto;
    width: 100%;

    @include sm() {
        flex-direction: column;
    }

    .FlightOfferCard {
        flex: 1;
        border: none;
    }
}

.MoreFlightsLink {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: $spacer * 2;

    &.UserLoggedIn {
        margin-bottom: $spacer;
    }

    @include sm() {
        justify-content: center;
    }
}

.JoinTripBlock {
    display: flex;
    width: 100%;
    padding: 0 $spacer * 6 $spacer * 1.5 $spacer * 6;

    @include sm() {
        flex-direction: column;
        padding: 0;
        margin-bottom: $spacer * 2;
    }

    .TripDescription {
        display: flex;
        flex-direction: column;
        flex: 3;
        align-items: flex-start;
        margin-right: $spacer * 4;

        @include sm() {
            margin-right: 0;
        }

        @include lg() {
            flex: 2;
        }

        .DescriptionText {
            font-size: $font-size-normal;
            line-height: 1.7rem;
            color: $gray-dark;
            margin-bottom: $spacer;
            padding-right: $spacer * 4;
            font-weight: 500;

            @include sm() {
                padding-right: 0;
                line-height: 1.4rem;
            }
        }
    }

    .JoinButton {
        flex: 1;
        margin-top: $spacer * 2.5;
    }
}

.ForumContainer {
    display: flex;
    flex-direction: column;
    width: 100%;

    .ForumBlockTitle {
        margin: $spacer * 3 0 $spacer 0;
    }

    .ForumBlock {
        display: flex;
        width: 100%;
        gap: $spacer * 7;

        @include md() {
            flex-direction: column;
            gap: $spacer * 3;
        }

        @include sm() {
            gap: $spacer * 2;
        }

        .ForumList {
            display: flex;
            flex: 2.5;
            flex-direction: column;
            width: 100%;
            justify-content: flex-start;
            margin-top: $spacer * 2;
        }

        .SidebarContent {
            display: flex;
            flex-direction: column;
            width: 100%;
            flex: 1;
            padding-top: $spacer * 2;

            @include md() {
                justify-content: flex-start;
            }

            .ForumLinks {
                display: flex;
                flex-direction: column;
                margin-bottom: $spacer * 2;

                .ForumLink {
                    margin-bottom: $spacer * 3;

                    .ForumDescription {
                        display: flex;
                        font-size: $font-size-normal;
                        color: $gray-dark;
                        margin-top: $spacer;
                    }
                }
            }

            .AddNewTopic {
                max-width: 260px;
                width: 100%;
                margin-bottom: $spacer * 3;

                @include sm() {
                    max-width: none;
                }
            }

            .Ads {
                display: flex;
                max-width: 260px;
                width: 100%;
                flex-direction: column;
                gap: $spacer * 2;
                overflow: hidden;

                @include sm() {
                    max-width: unset;
                }
            }
        }
    }

    .ViewMoreForumPosts {
        display: flex;
        width: 100%;
        justify-content: flex-end;

        @include md() {
            display: none;
        }
    }
}

.NewsContainer {
    display: flex;
    width: 100%;
    margin: $spacer * 4 0;
}

.ImageGalleryContainer {
    display: flex;
    flex-direction: column;
    margin-top: $spacer * 3;
    background: $gray-dark;
    justify-content: center;
    align-items: center;

    .ImageGallery {
        max-width: 100%;
    }
}

.BottomContainer {
    background: $gray-light;

    .TravelFlightContainer {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: $spacer * 4 0 $spacer * 5;

        .TravelmateFlightBlock {
            display: flex;
            flex-direction: column;
            width: 50%;

            @include lg() {
                width: 100%;
            }

            &.Travelmates {
                padding-left: $spacer * 5;

                @include lg() {
                    padding-left: 0;
                }
            }
        }
    }

    .FooterAds {
        padding-bottom: $spacer * 4;
    }
}