@import "../../styles/variables";
@import "../../styles/mixins";

.FlightOfferCard {
    display: flex;
    flex-direction: column;
    width: 100%;

    .DestinationContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: .5rem 2rem;

        .Destination {
            a {
                color: $white;
                font-size: 1.5rem;
                line-height: 2rem;
                font-weight: 500;
            }
        }

        .ParentDestination {
            a {
                color: $white;
                line-height: 1.2rem;
                opacity: .7;
            }
        }
    }

    .Content {
        display: flex;
        position: relative;
        text-align: center;

        .Background {
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 100%;
            width: 100%;
            text-align: center;
            padding-bottom: 50%;
            overflow: hidden;
        }

        .Title {
            position: absolute;
            color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            font-weight: 500;
            text-shadow: 0 1px 0 rgb(0 0 0 / 30%);
            padding: 1.5rem 2rem;
            height: 100%;

            @include lg() {
                padding: 1rem;
            }
        }

        &:hover {
            .Title {
                color: $gray-light;
            }
        }
    }
}
