@import "../../../styles/variables";

.SearchContainer {
    display: flex;
    flex-direction: column;
    width: 55%;
    margin: 0 auto;
    padding: $spacer * 2 0;

    @include lg() {
        width: 75%;
    }

    @include md() {
        width: 100%;
    }
}

.Search {
    display: flex;
    width: 100%;
}

.FilterContainer {
    display: flex;
    flex-direction: column;

    .AdvancedSearch {
        background: rgba(255, 255, 255, .9);
        box-shadow: 0 18px 48px rgba(14, 18, 23, .6);
        display: flex;
        flex-direction: column;
        padding: $spacer * 2;
        gap: $spacer;
    }
}

.Filters {
    display: flex;
    gap: $spacer * 2;

    @include sm() {
        flex-direction: column;
        width: 100%;
        gap: $spacer * 2;
    }

    .Select {
        color: $white;
        width: 100%;

        :global(.ForumFilter__control) {
            background: transparent;
            cursor: pointer;
            border-color: rgba(255, 255, 255, .6);
            box-shadow: none;
            height: 45px;
            border-radius: 3px;
        }

        :global(.ForumFilter__placeholder) {
            color: $gray-dark;
            font-family: $font-family-sailec;
            opacity: .8;
        }

        :global(.ForumFilter__control--menu-is-open, .ForumFilter__control--is-focused) {
            border-color: $gray-dark;
            box-shadow: none;
        }

        :global(.ForumFilter__input) {
            color: $gray-dark;
            font-family: $font-family-sailec;
        }

        :global(.ForumFilter__single-value) {
            color: $gray-dark;
            font-weight: 500;
            font-family: $font-family-sailec;
        }

        :global(.ForumFilter__option) {
            color: $gray-darker;
            cursor: pointer;
        }

        :global(.ForumFilter__option--is-selected) {
            color: $gray-dark-hover;
            background-color: $blue;
        }

        :global(.ForumFilter__menu-notice) {
            color: $gray-dark;
        }

        :global(.ForumFilter__indicator) {
            color: $gray-dark;

            &:hover {
                color: $gray;
            }
        }
    }
}

.NoSearch {
    padding: $spacer * 2.5 0;
}

.Tabs {
    margin-top: $spacer * 8;

    @include sm() {
        margin-top: $spacer * 6;
    }
}

.Content {
    display: flex;
    width: 100%;
    padding-top: $spacer * 5;
    padding-bottom: $spacer * 4;

    @include md() {
        flex-direction: column;
        padding-top: $spacer * 6;
    }

    @include sm() {
        flex-direction: column;
        padding-top: $spacer * 3;
    }

    .ResultCount {
        font-family: $font-family-sailec;
        color: $gray-darker;
        font-weight: 500;
        padding-bottom: $spacer;
        border-bottom: 1px solid rgba(209, 212, 214, .7);
        margin-bottom: $spacer * 3;

        @include sm() {
            font-size: $font-size-small;
        }
    }

    .ForumList {
        flex: 3;

        .Paginator {
            margin: $spacer * 5 0;
        }
    }

    .Sidebar {
        flex: 1;
        padding-left: $spacer * 4;

        @include sm() {
            padding-left: 0;
        }

        .ForumDescription {
            font-size: $font-size-normal;
            color: $gray-darker;
            margin: $spacer * 2 0;
        }

        .AddNewTopic {
            padding: $spacer * 2 0;
        }
    }
}