@import "../../../styles/variables";
@import "../../../styles/mixins";

.Search {
    padding: $spacer * 5 0 $spacer * 5 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;

    @include lg() {
        width: 75%;
    }

    @include md() {
        width: 100%;
    }
}

.Filters {
    display: flex;
    margin: 0 auto;
    width: 50%;
    gap: $spacer * 8;

    @include lg() {
        width: 75%;
    }

    @include md() {
        width: 100%;
    }

    @include sm() {
        flex-direction: column;
        width: 100%;
        gap: $spacer * 4;
    }

    .Select {
        border-color: $white;
        color: $white;
        width: 100%;

        :global(.ForumFilter__control) {
            background: rgba(0, 0, 0, .2);
            cursor: pointer;
            border-color: rgba(255, 255, 255, .6);
            box-shadow: none;
            height: 50px;
        }

        :global(.ForumFilter__placeholder) {
            color: $white;
            font-family: $font-family-sailec;
            opacity: .8;
        }

        :global(.ForumFilter__control--menu-is-open, .ForumFilter__control--is-focused) {
            border-color: $white;
            box-shadow: none;
        }

        :global(.ForumFilter__input) {
            color: $white;
            font-family: $font-family-sailec;
        }

        :global(.ForumFilter__single-value) {
            color: $white;
            font-weight: 500;
            font-family: $font-family-sailec;
        }

        :global(.ForumFilter__option) {
            color: $gray-darker;
            cursor: pointer;
        }

        :global(.ForumFilter__option--is-selected) {
            color: $gray-dark-hover;
            background-color: $blue;
        }

        :global(.ForumFilter__menu-notice) {
            color: $gray-dark;
        }

        :global(.ForumFilter__indicator) {
            color: $white;

            &:hover {
                color: $gray;
            }
        }
    }
}

.Tabs {
    margin-top: $spacer * 17;
}

.Content {
    display: flex;
    width: 100%;
    padding-top: $spacer * 15;
    padding-bottom: $spacer * 5;

    @include md() {
        flex-direction: column;
    }

    .ForumList {
        flex: 3;

        .Paginator {
            margin: $spacer * 10 0;
        }
    }

    .Sidebar {
        flex: 1;
        padding-left: $spacer * 8;

        .ForumDescription {
            font-size: $font-size-normal;
            color: $gray-darker;
            margin: $spacer * 4 0;
        }

        .AddNewTopic {
            padding: $spacer * 4 0;
        }
    }
}