@import '../../styles/variables';

.Modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;

    .Background {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(27, 31, 59, 0);
        //background: #9128a1;
        transition: background ease-in-out 200ms;
    }

    .Container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px;
        transform: translate3d(0, -100%, 0);
        opacity: 0;
        transition: opacity linear 200ms,
        transform ease-in-out 200ms;
        //background: #8EDD65;

        @media (max-width: 500px) {
            padding: 25px;
        }

        @media (max-width: 400px) {
            padding: 15px;
        }

        .Content {
            border-radius: 11px;
            box-shadow: 0 0 10px 0 rgba(117, 104, 252, 0.65);
            background-color: #f8f7ff;
            position: relative;
            transition: width linear 200ms, height linear 200ms;
            z-index: 2;
        }
    }

    &.Darker {
        .Background {
            background: rgba(0, 0, 0, 0);
        }
    }

    &.Show {
        visibility: visible;
        opacity: 1;

        .Background {
            background: rgba(27, 31, 59, .5);
        }

        .Container {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }

        &.Darker {
            .Background {
                background: rgba(0, 0, 0, .8);
            }
        }
    }
}