@import '../../styles/variables';

.Modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;

    :global(.modal-background) {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(27, 31, 59, 0);
        transition: background ease-in-out 200ms;
    }

    :global(.modal-container) {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px;
        transform: translate3d(0, -100%, 0);
        opacity: 0;
        transition: opacity linear 200ms,
        transform ease-in-out 200ms;

        @media (max-width: 500px) {
            padding: 25px;
        }

        @media (max-width: 400px) {
            padding: 15px;
        }
    }

    :global(.modal-content) {
        border-radius: 11px;
        box-shadow: 0 0 10px 0 rgba(117, 104, 252, 0.65);
        background-color: #f8f7ff;
        position: relative;
        transition: width linear 200ms, height linear 200ms;
        z-index: 2;
        outline: none;
    }

    &:global(.modal-visible) {
        visibility: visible;
        opacity: 1;

        :global(.modal-background) {
            background: rgba(27, 31, 59, .5);
        }

        :global(.modal-container) {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }
}