@import "../../styles/variables";

.Container {
    position: relative;
    background: $gray-light;
}

.Navbar {
    padding-bottom: $spacer * 8;
    padding-top: $spacer * 3;

    @include sm() {
        padding-bottom: $spacer * 6;
    }
}

.Title {
    font-weight: 600;
    font-size: 3rem;
    color: $gray-dark;
    display: flex;
    justify-content: center;
    margin-bottom: $spacer * 3;
    gap: $spacer * 2;

    .UserAvatarContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $spacer;
        cursor: pointer;

        .UserAvatar {
            height: 60px;
            width: 60px;
            display: flex;
        }

        .UserName {
            color: $blue;
            font-weight: 500;
            font-size: $font-size-large;
        }

        &:hover {
            .UserName {
                color: $blue-hover;
            }
        }
    }

    @include sm() {
        font-size: 2rem;
        margin-bottom: $spacer * 4;

        .UserAvatarContainer {
            .UserAvatar {
                height: 40px;
                width: 40px;
            }

            .UserName {
                font-size: $font-size-medium;
            }
        }
    }
}

.DestinationSelection {
    padding-bottom: $spacer * 4;
    display: flex;
    justify-content: center;

    .Select {
        max-width: 300px;
        width: 100%;
    }
}

.ImagesContainer {
    display: flex;
    width: 100%;
    flex-direction: column;

    .ImagesGrid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        padding-bottom: $spacer * 5;

        .Image {
            width: 100%;
            height: 180px;
            display: flex;
            position: relative;
        }

        @include md() {
            grid-template-columns: repeat(3, 1fr);
        }

        @include sm() {
            grid-template-columns: repeat(2, 1fr);
        }

        @include xs() {
            .Image {
                height: 160px;
            }
        }
    }

    .Paginator {
        margin-bottom: $spacer * 5;
    }
}
