@import "../../../styles/variables";

.FlightOfferRow {
    display: flex;
    width: 100%;

    .Icon {
        display: flex;
        margin-right: $spacer;

        svg {
            width: 40px;
            height: 40px;
            fill: $blue;

            @include sm() {
                width: 32px;
                height: 32px;
            }
        }
    }

    .Content {
        display: flex;
        width: 100%;
        flex-direction: column;

        .Title {
            color: $blue;
            font-size: $font-size-medium;
            font-weight: 500;
            display: block;
            margin-bottom: $spacer * 0.5;

            @include sm() {
                font-size: $font-size-normal;
            }

            &:hover {
                color: $blue-hover;
            }
        }

        .Meta {
            display: flex;
            flex-wrap: wrap;

            .CreatedDate {
                margin-right: $spacer * 2;
                font-size: $font-size-small;
                color: $gray-darker;
                margin-bottom: $spacer * 0.5;
            }

            .Tags {
                display: flex;
                flex-wrap: wrap;
                gap: $spacer;
                margin-bottom: $spacer * 0.5;
            }
        }
    }

    &.Sticky {
        .Icon {
            svg {
                fill: $green-darker;
            }
        }

        .Content {
            .Title {
                color: $green-darker;

                &:hover {
                    color: $green-hover;
                }
            }

            .Meta {
                .CreatedDate {
                    display: none;
                }
            }
        }
    }
}
