@import "../../../styles/variables";
@import "../../../styles/mixins";

.FlightOfferRow {
    display: flex;
    width: 100%;

    .Icon {
        display: flex;
        margin-right: .8rem;

        svg {
            width: 2.5rem;
            height: 2.5rem;
            fill: $blue;

            @include sm() {
                width: 2rem;
                height: 2rem;
            }
        }
    }

    .Content {
        display: flex;
        width: 100%;
        flex-direction: column;

        .Title {
            color: $blue;
            font-size: 1.3rem;
            font-weight: 500;
            display: block;
            margin-bottom: .3rem;

            @include sm() {
                font-size: 1.1rem;
            }

            &:hover {
                color: $blue-hover;
            }
        }

        .Meta {
            display: flex;

            .MetaItem {
                margin-right: $spacer * 4;
                font-size: $font-size-small;
                color: $gray-darker;
            }
        }
    }
}
