@import "../../styles/variables";
@import "../../styles/mixins";

.Header {
    position: relative;
    display: flex;

    &.Light {
        background-color: $gray-light;
        overflow-y: hidden;
    }
}

.Navbar {
    margin: $spacer * 6 0 $spacer * 12 0;
}

.Title {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    color: $white;
    font-weight: 600;
    margin-bottom: $spacer * 8;

    @include sm() {
        font-size: 2rem;
    }
}