@import "../../styles/variables";

.Header {
    position: relative;
    display: flex;

    &.WithDefaultBackground {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url('/images/header_mountain.webp');
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    &.Light {
        background-image: none;
        background-color: $gray-light;
    }

    @include sm() {
        &.WithDefaultBackground {
            background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/images/header_mountain_mobile.webp');
        }

        &.Light {
            background-image: none;
        }
    }
}

.Navbar {
    margin: $spacer * 3 0 $spacer * 7 0;

    @include sm() {
        margin: $spacer * 3 0 $spacer * 5 0;
    }
}

.Title {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    color: $white;
    font-weight: 600;
    margin-bottom: $spacer * 4;

    @include sm() {
        font-size: 2rem;
        margin-bottom: $spacer * 3;
    }
}