@import "../../styles/variables";

.Navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 48px;
    align-items: center;

    .Logo {
        margin-top: $spacer * 2;
        margin-left: $spacer * 2;

        @include sm() {
            margin-left: 0;

            svg {
                width: 150px;
            }
        }

        a {
            display: block;
        }
    }

    .Links {
        display: flex;
        justify-content: center;
        font-family: $font-family-sailec;

        @include lg() {
            display: none;
        }

        a {
            padding: $spacer * 1.5;
            color: $white;
            font-weight: 500;
            font-size: $font-size-normal;
            line-height: 1.5rem;
            cursor: pointer;

            &:hover {
                color: $gray;
            }
        }

        .ActiveLink {
            color: $gray;
        }

        .DefaultLinks {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .AuthLinks {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &.LinksMobile {
            display: none;

            @include lg() {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: $spacer * 4;
                justify-content: space-between;
                height: 100%;
                margin-bottom: $spacer * 3;

                a {
                    font-size: 1.25rem;
                }
            }

            .MobileLink {
                padding: $spacer * 1.5;
                cursor: pointer;

                .LinkTitle {
                    color: $white;
                    font-weight: 500;
                    font-size: 1.25rem;
                    line-height: 1.5rem;
                    display: flex;
                }

                span {
                    border-radius: 50%;
                    color: $white;
                    background: $red;
                    justify-content: center;
                    align-items: center;
                    font-size: .7rem;
                    width: 22px;
                    height: 22px;
                    text-align: center;
                    margin-left: $spacer;
                }
            }
        }
    }

    .UserAvatar {
        margin-left: $spacer * 1.5;
        display: flex;
        align-items: center;
        position: relative;
    }

    .MenuIcon {
        display: none;
        cursor: pointer;

        @include lg() {
            display: flex;
        }

        .Hamburger {
            svg {
                width: 32px;
                height: 32px;
                fill: $white;
            }
        }

        .UserIcon {
            width: 40px;
            height: 40px;

            .UnreadMessageCount {
                position: absolute;
                right: -2px;
                top: -2px;
                border-radius: 50%;
                color: $white;
                background: $red;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: .7rem;
                width: 15px;
                height: 15px;
            }
        }
    }

    .MenuContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 32px;
        height: 100%;
    }

    .MobileMenu {
        background: $green;
        bottom: 0;
        left: 0;
        //padding: 2rem;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 10000;
        overflow-y: scroll;

        .CloseIcon {
            display: flex;
            justify-content: flex-end;

            svg {
                width: 32px;
                height: 32px;
                fill: $white;
                cursor: pointer;
            }
        }
    }

    &.Dark {
        .Links {
            a {
                color: $gray-darker;

                &:hover {
                    color: $gray-dark;
                }
            }

            .ActiveLink {
                color: $gray-dark-hover;
            }

            &.LinksMobile {
                a {
                    color: $white;
                }

                .ActiveLink {
                    color: $white;
                }
            }
        }

        .MenuIcon svg {
            fill: $gray-darker;
        }
    }
}