@import "../../styles/variables";
@import "../../styles/mixins";

.Navbar {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    height: $spacer * 12;
    align-items: center;

    .Logo {
        margin-top: $spacer * 12;
        margin-left: $spacer * 4;

        @include sm() {
            margin-left: 0;
        }

        a {
            display: block;
        }
    }

    .Links {
        display: flex;
        justify-content: center;

        @include lg() {
            display: none;
        }

        a {
            padding: $spacer * 3;
            color: $white;
            font-weight: 500;
            font-size: $font-size-normal;
            line-height: 1.5rem;

            &:hover {
                opacity: .8;
            }
        }

        svg {
            height: $spacer * 5;
            width: $spacer * 5;
        }

        &.LinksMobile {
            display: none;

            @include lg() {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: $spacer * 8;

                a {
                    font-size: 1.25rem;
                }
            }
        }
    }

    .MenuIcon {
        display: none;

        @include lg() {
            display: flex;
        }

        svg {
            width: $spacer * 8;
            height: $spacer * 8;
            fill: $white;
            cursor: pointer;
        }
    }

    .MobileMenu {
        background: $green;
        bottom: 0;
        left: 0;
        padding: 2rem;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 10000;
        overflow-y: scroll;

        .CloseIcon {
            display: flex;
            justify-content: flex-end;

            svg {
                width: $spacer * 8;
                height: $spacer * 8;
                fill: $white;
                cursor: pointer;
            }
        }
    }

    &.Dark {
        .Links {
            a {
                color: $gray-dark;
            }
        }
    }
}