@import "../../../../styles/variables";

.Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: $spacer * 1.5;

    .Row {
        display: flex;
        width: 100%;
        align-items: center;

        .Rectangle {
            display: flex;
            width: 100%;
            gap: 12px;
        }
    }
}