@import "../../styles/variables";

.Container {
    position: relative;
    background: $gray-light;
}

.Navbar {
    padding-bottom: $spacer * 8;
    padding-top: $spacer * 3;
}

.Title {
    font-weight: 600;
    font-size: 3rem;
    color: $gray-dark;
    display: flex;
    justify-content: center;
    margin-bottom: $spacer * 5;

    @include sm() {
        font-size: 2rem;
        margin-bottom: $spacer * 4;
    }
}

.AlertContainer {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto $spacer * 3;

    .Alert {
        display: flex;
        width: 100%;
        position: relative;
        align-items: center;
        background: #fed7d7;
        border-radius: 3px;
        padding: 12px 16px;
        outline: none;
        border: 0;
        gap: $spacer * 2;

        svg {
            width: 20px;
            height: 20px;
            stroke: $red;
        }

        .AlertTitle {
            font-family: $font-family-sailec;
            color: $gray-dark;
            font-weight: 500;
            font-size: $font-size-normal;
            word-break: break-word;
            line-height: 1.5rem;

            a {
                color: $blue;

                &:hover {
                    color: $blue-hover;
                }
            }
        }
    }
}

.InfoTitle {
    display: flex;
    justify-content: center;
    color: $gray-dark;
    font-weight: 500;
    font-size: $font-size-medium;
    margin-bottom: $spacer * 5;

    a {
        color: $blue;
        margin-left: $spacer;

        &:hover {
            color: $blue-hover;
        }
    }
}

.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: $spacer * 9;

    @include sm() {
        padding-bottom: $spacer * 7;
    }
}
