@import "../../styles/variables";

.CommentEditor {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid $gray;
    border-radius: 2px;
    padding: $spacer * 3;

    @include sm() {
        padding: $spacer * 2.5;
    }

    .Editor {
        margin-bottom: $spacer * 3;
    }

    .Buttons {
        display: flex;
        width: 100%;
        gap: $spacer * 2;

        .SubmitButton {
            max-width: 200px;
            width: 100%;
        }

        .CloseButton {
            max-width: 200px;
            width: 100%;
        }
    }
}