@import "../../styles/variables";

.CommentEditor {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid $gray;
    border-radius: 2px;
    padding: 24px;

    .Editor {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: $spacer * 3;

        .ActionBar {
            display: flex;
            gap: $spacer;
            padding-bottom: $spacer;

            .ActionButton {
                background-color: transparent;
                border: none;
                cursor: pointer;
                outline: 0;
                vertical-align: bottom;

                svg {
                    height: 15px;
                    width: 15px;
                }

                &:hover {
                    background-color: #F0F0F0;
                }
            }

            .ActionButtonSelected {
                background-color: #F0F0F0;
            }
        }

        .Content {
            box-sizing: border-box;
            height: 360px;
            overflow-y: scroll;
            padding: $spacer * 3;
            font-family: $font-family-sailec;
            outline: none;
            border: 2px solid $gray;
            width: 100%;
            border-radius: 3px;
            color: $gray-dark;

            a {
                color: $blue;
            }

            pre {
                white-space: pre-wrap;
            }

            p {
                margin-top: 0;
                padding-top: 0;
                margin-bottom: $spacer * 1.5;
            }
        }
    }

    .Buttons {
        display: flex;
        width: 100%;
        gap: $spacer * 2;

        .SubmitButton {
            max-width: 200px;
            width: 100%;
        }

        .CloseButton {
            max-width: 200px;
            width: 100%;
        }
    }
}