@import "../../../styles/variables";

.FormCheckbox {
    display: flex;
    flex-direction: column;
    width: 100%;

    .FormElement {
        display: flex;
        width: 100%;

        label {
            color: $gray-darker;
            margin-bottom: $spacer;
            font-size: $font-size-normal;
            font-weight: 500;
            line-height: 1.2rem;
            margin-left: $spacer * 1;
        }
    }

    .ErrorText {
        color: $red;
        font-size: $font-size-small;
    }

    &.Invalid {
        .FormElement {
            input {
                outline: 1px solid $red;
            }
        }
    }
}