@import "../../../styles/variables";

.Header {
    padding-bottom: $spacer * 25;
}

.Content {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: $spacer * -22;
    padding-bottom: $spacer * 6;
    gap: $spacer * 8;

    @include lg() {
        gap: $spacer * 6;
    }

    @include md() {
        flex-direction: column;
        gap: $spacer * 5;
    }

    @include sm() {
        margin-top: $spacer * -23;
        gap: $spacer * 2;
        padding-bottom: $spacer;
    }

    .ForumContent {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex: 3;

        .ForumPost {
            margin-bottom: $spacer;
        }

        .LatestCommentLink {
            margin-bottom: $spacer * 4;
            display: flex;
            justify-content: flex-end;

            &.HasPaginator {
                margin-bottom: $spacer * 2;
            }
        }

        .PostComments {
            display: flex;
            width: 100%;
            margin-bottom: $spacer * 5;

            @include sm() {
                margin-bottom: $spacer * 2.5;
            }
        }

        .AddComment {
            display: flex;
            flex-direction: column;
            gap: $spacer * 2;
            margin-bottom: $spacer * 6;

            @include sm() {
                margin-bottom: $spacer * 5;
            }
        }

        .LockedForComments {
            display: flex;
            width: 100%;
            margin-bottom: $spacer * 8;

            @include sm() {
                margin-bottom: $spacer * 6;
            }
        }

        .BodyAd {
            width: 100%;
            //display: block;
            overflow: hidden;

            @include lg() {
                max-width: 650px;
            }

            @media (max-width: 912px) {
                max-width: 588px;
            }

            @media (max-width: 820px) {
                max-width: 500px;
            }

            @include md() {
                max-width: unset;
            }

            @include sm() {
                display: none;
            }
        }

        .BodyAdMobile {
            width: 100%;
            overflow: hidden;
            display: none;
            max-width: 320px;
            margin: 0 auto;

            @include sm() {
                display: block;
                flex-direction: column;
                align-items: center;

                iframe {
                    margin-bottom: $spacer * 2;
                }
            }
        }
    }

    .Sidebar {
        flex: 1;
        flex-direction: column;

        .SidebarButtons {
            display: flex;
            flex-direction: column;
            margin-top: $spacer * 6;
            gap: $spacer * 1.5;
            margin-bottom: $spacer * 5;
        }

        .Ads {
            display: flex;
            flex-direction: column;
            gap: $spacer * 2;
            width: 100%;
            max-width: 270px;
            margin: 0 auto;

            @include sm() {
                display: block;
                //max-width: 320px;
                align-items: center;
                max-width: unset;
            }

            iframe {
                margin-bottom: $spacer * 2;
            }
        }

        @include md() {
            .SidebarButtons {
                max-width: 350px;
                margin: 0 auto $spacer * 5;
            }
        }
    }
}