@import "../../../styles/variables";

.Header {
    padding-bottom: $spacer * 25;
}

.Content {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: $spacer * -18;
    padding-bottom: $spacer * 7;

    @include md() {
        flex-direction: column;
        gap: $spacer * 3;
    }

    @include sm() {
        margin-top: $spacer * -20;
        padding-bottom: $spacer * 4;
    }

    .ForumContent {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex: 3;

        .ForumPost {
            background: $white;
            margin-bottom: $spacer;
        }

        .LatestCommentLink {
            margin-bottom: $spacer;
            display: flex;
            justify-content: flex-end;
        }

        .AddComment {
            display: flex;
            flex-direction: column;
            gap: $spacer * 2;
        }
    }

    .Sidebar {
        flex: 1;
        flex-direction: column;
        padding-left: $spacer * 6;

        .SidebarButton {
            margin: $spacer * 1.5 0;
        }

        @include md() {
            padding-left: 0;
        }

        @include sm() {
            padding-left: 0;
        }
    }
}