@import "../../../styles/variables";

.Header {
    padding-bottom: $spacer * 25;
}

.Content {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: $spacer * -18;
    padding-bottom: $spacer * 7;
    gap: $spacer * 8;

    @include md() {
        flex-direction: column;
        gap: $spacer * 2;
    }

    @include sm() {
        margin-top: $spacer * -20;
    }

    .ForumContent {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex: 3;

        .ForumPost {
            background: $white;
            margin-bottom: $spacer;
        }

        .LatestCommentLink {
            margin-bottom: $spacer;
            display: flex;
            justify-content: flex-end;
        }

        .AddComment {
            display: flex;
            flex-direction: column;
            gap: $spacer * 2;
        }
    }

    .Sidebar {
        flex: 1;
        flex-direction: column;

        .SidebarButtons {
            display: flex;
            flex-direction: column;
            margin-top: $spacer * 2;
            gap: $spacer * 1.5;
            margin-bottom: $spacer * 4;
        }

        .Ads {
            display: flex;
            flex-direction: column;
            gap: $spacer * 2;
            width: 100%;
            max-width: 270px;

            @include sm() {
                max-width: 300px;
            }
        }

        @include md() {
            .SidebarButtons {
                max-width: 350px;
                margin: 0 auto $spacer * 5;
            }
        }
    }
}