@import "../../../styles/variables";

.UserLastComments {
    position: relative;
    width: 100%;

    .ForumRow {
        display: flex;
        flex-direction: column;
        margin-bottom: $spacer * 3.5;

        .PostTitle {
            margin-bottom: $spacer * 1.5;
            display: flex;
            gap: $spacer;
            align-items: center;

            a {
                font-weight: 600;
                font-size: $font-size-medium;
                color: $gray-dark;

                &:hover {
                    color: $gray-dark-hover;
                }
            }

            .ContentType {
                font-size: $font-size-small;
                color: $gray-dark;
                font-weight: 500;
            }
        }
    }
}

.Loading {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}