@import "../../../styles/variables";
@import "../../../styles/mixins";

.FlightOfferFilterTags {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: $spacer;
    padding-bottom: $spacer * 1.5;

    @include sm() {
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .Tag {
        display: flex;
        padding: $spacer * 0.8 $spacer * 2.5;
        border-radius: 32px;
        border: 1px solid $white;
        cursor: pointer;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));

        .Title {
            color: $white;
            font-weight: 500;
            font-size: $font-size-normal;
            white-space: nowrap;
        }

        &.Selected {
            background: $green;
            border: 1px solid $green;
        }

        &:hover {
            background: $green;
            border: 1px solid $green;
        }

        @include md() {
            padding: $spacer * 0.5 $spacer * 1.5;
        }
    }
}