@import "../../styles/variables";

.Container {
    position: relative;
    background: $gray-light;
}

.Navbar {
    padding-bottom: $spacer * 8;
    padding-top: $spacer * 3;
}

.SearchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    margin: 0 auto $spacer * 10 auto;
    gap: $spacer;

    span {
        color: $red;
        font-family: $font-family-sailec;
        font-size: $font-size-xsmall;
        font-weight: 600;
    }
}

.Content {
    width: 100%;
    background: $white;
    position: relative;
    padding-bottom: $spacer * 6;

    .Body {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: $spacer * 2 0;
        position: relative;

        @include md() {
            padding: 0;
            margin: $spacer 0;
        }
    }
}

.NoResults {
    padding: $spacer * 3 0 0;
    font-family: $font-family-sailec;
    color: $gray-dark;
    font-weight: 500;
    font-size: $font-size-medium;
}

.Loader {
    margin: 0 auto;
    width: 50px;
    height: 50px;
}

.ResultCount {
    font-family: $font-family-sailec;
    color: $gray-darker;
    font-weight: 500;
    padding: $spacer * 2 0;
    border-bottom: 1px solid $gray;

    @include sm() {
        font-size: $font-size-small;
    }
}

.Paginator {
    margin: $spacer * 2;
}
