@import "../../styles/variables";

.ImageGallery {
    display: flex;
    width: 100%;
    background: $gray-dark;
    position: relative;
    overflow-x: auto;

    .Image {
        display: flex;
    }
}