@import "../../../styles/variables";

.UserMessages {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: $spacer * 3;
    max-width: 500px;
    margin: 0 auto;

    .MessageItem {
        display: flex;
        width: 100%;
        padding: $spacer * 2;
        background: $white;
        box-shadow: 0 0 10px 5px rgba(209,212,214,0.75);
        cursor: pointer;
        gap: $spacer * 2;

        &:hover {
            box-shadow: 0 0 10px 6px rgba(209,212,214);
        }

        .Avatar {
            height: 60px;
            width: 60px;

            @include sm() {
                height: 50px;
                width: 50px;
            }
        }

        .Content {
            display: flex;
            flex: 1;
            flex-direction: column;
            gap: $spacer;

            .UserNameContainer {
                display: flex;
                gap: $spacer * 2;
                align-items: center;

                .UserName {
                    width: 100%;
                    color: $gray-dark;
                    font-size: $font-size-medium;
                    font-weight: 500;
                    display: flex;
                }

                .CreatedAt {
                    color: $gray-dark;
                    font-size: $font-size-small;
                    display: flex;
                    gap: $spacer;
                }
            }

            .Message {
                color: $gray;
                font-size: $font-size-small;
                font-weight: 500;
                width: 100%;
                word-break: break-word;
            }
        }
    }
}

.Loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}