@import "../../../styles/variables";

.Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: $spacer;
}

.BreadCrumbs {
    display: flex;
    width: 100%;
    background: transparent;
    font-family: $font-family-sailec;

    a {
        color: $gray-darker;
        font-weight: 500;

        &:hover {
            color: $gray-dark-hover;
        }
    }

    span {
        color: $gray-dark;
        padding: 0 $spacer;
    }
}

.Post {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: $white;
    border: 1px solid $gray;
    padding: $spacer * 5;
    padding-left: $spacer * 5;
    padding-top: $spacer * 4;
    padding-bottom: $spacer * 4;
    box-shadow: 0 1px 10px 0 $gray;

    .Alert {
        margin-bottom: $spacer * 3;
    }

    .TitleContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: $spacer * 3;

        .Title {
            font-size: $font-size-xlarge;
            font-weight: 600;
            color: $gray-dark-hover;
            padding-bottom: $spacer * 2;

            @include sm() {
                font-size: $font-size-medium;
            }
        }

        .FollowButton {
            display: flex;
            padding: $spacer $spacer * 2;
            border-radius: 3px;
            border: 1px solid $blue;
            height: 24px;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin-top: $spacer;
            
            span {
                font-family: $font-family-sailec;
                font-size: $font-size-xsmall;
                color: $blue;
                font-weight: 500;
            }

            &.Following {
                background: $blue;

                span {
                    color: $white;
                }
            }

            &:hover {
                background: $blue;

                span {
                    color: $white;
                }

                &.Following {
                    background: $blue-hover;
                }
            }

            @include sm() {
                margin-top: $spacer * .5;
            }
        }
    }

    .MetaData {
        display: flex;
        width: 100%;
        font-size: $font-size-small;
        gap: $spacer * 1.5;
        position: relative;
        margin-bottom: $spacer * 3;

        .User {
            color: $blue;

            &:hover {
                color: $blue-hover;
            }
        }

        .CreatedDate {
            color: hsl(204, 6%, 65%);
        }

        .UserAvatar {
            position: absolute;
            width: 56px;
            height: 56px;
            left: -68px;
            top: -19px;
        }
    }

    .Body {
        color: $gray-dark;
        font-family: $font-family-sailec;
        font-size: $font-size-medium;
        overflow-wrap: break-word;
        word-wrap: break-word;

        pre {
            white-space: pre-wrap;
            margin: 0;
        }

        p {
            margin: 0 0 $spacer * 1.5 0;
        }

        a {
            word-break: break-word;
            color: $blue;

            &:hover {
                color: $blue-hover;
            }
        }

        img {
            width: 100%;
            max-width: 400px;
        }

        @include sm() {
            font-size: $font-size-normal;
        }
    }

    .Actions {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        margin-bottom: $spacer * 1.5;

        .Buttons {
            font-size: $font-size-small;
            color: $gray;
            display: flex;
            gap: $spacer;
            align-items: flex-end;

            .ActionButton {
                font-weight: 400;
                color: hsl(204, 6%, 65%);
                cursor: pointer;
                opacity: .7;

                &:hover {
                    color: $gray-darker;
                }
            }
        }
    }

    .BottomData {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .Tags {
            display: flex;
            gap: $spacer;
            flex-wrap: wrap;
        }

        .Thumbs {
            margin-top: $spacer * 0.5;
            display: flex;
            justify-content: flex-end;
            gap: $spacer * 1.5;

            .Thumb {
                display: flex;
                align-items: center;
                cursor: pointer;

                svg {
                    height: 20px;
                    width: 20px;
                    fill: hsl(204, 6%, 65%);
                }

                .ThumbsCount {
                    font-size: $font-size-xsmall;
                    color: $gray-darker;
                    margin-left: $spacer;
                }

                &:hover {
                    svg {
                        fill: $green;
                    }

                    &.ThumbDown {
                        svg {
                            fill: $red;
                        }
                    }
                }
            }
        }
    }

    @include sm() {
        padding: $spacer * 2.5;

        .MetaData {
            align-items: center;

            .UserAvatar {
                position: relative;
                width: 46px;
                height: 46px;
                left: unset;
                top: unset;
            }
        }
    }
}