@import "../../../styles/variables";
@import "../../../styles/mixins";

.ForumPost {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid $gray;
    padding: $spacer * 10;
    padding-left: $spacer * 12;
    padding-top: $spacer * 8;
    box-shadow: 0 1px 10px 0 #d1d4d6;

    .Title {
        font-size: $font-size-xlarge;
        font-weight: 600;
        color: $gray-dark-hover;
        padding-bottom: $spacer * 6;
    }

    .MetaData {
        display: flex;
        width: 100%;
        font-size: $font-size-small;
        gap: $spacer * 3;
        position: relative;

        .User {
            color: $blue;

            &:hover {
                color: $blue-hover;
            }
        }

        .CreatedDate {
            color: hsl(204, 6, 63);
        }

        .UserAvatar {
            position: absolute;
            width: 64px;
            height: 64px;
            left: -80px;
            top: -20px;
        }
    }

    .Body {
        color: $gray-dark;
        font-family: $font-family-sailec;
        font-size: $font-size-medium;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }

    @include sm() {
        padding: $spacer * 8;

        .MetaData .UserAvatar {
            width: 46px;
            height: 46px;
            left: -55px;
            top: -15px;
        }
    }
}