.Content {
    margin: 0 auto;
    padding: 0 1rem;
}

.Header {
    position: relative;
    overflow: hidden;
}

.Navbar {
    padding-bottom: 4rem;
    padding-top: 1.5rem;
}

.Search {
    padding-bottom: 7rem;
    width: 50%;
    margin: 0 auto;
}