@import "../../styles/variables";
@import "../../styles/mixins";

.Footer {
    padding-top: $spacer * 10;
    padding-bottom: $spacer * 10;
    overflow: hidden;

    .Content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        gap: 4rem;
        padding-bottom: $spacer * 10;
        margin: 0 auto;

        @include sm() {
            text-align: center;
        }
    }

    .Col {
        display: grid;
        gap: $spacer * 2;
        grid-auto-rows: max-content;

        a {
            color: $white;
            font-size: 1rem;

            &:hover {
                opacity: .8;
            }
        }

        svg {
            width: 100px;
            height: 25px;
            fill: $white;
        }
    }

    .SocialLinks {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        a {
            color: $white;
            font-size: 1rem;
            padding: $spacer * 4;

            &:hover {
                opacity: .8;
            }

            svg {
                width: 18px;
                height: 18px;
                fill: $white;
                margin-right: $spacer * 1.5;
            }
        }
    }

    .CopyRight {
        display: flex;
        justify-content: center;
        color: $white;
        opacity: .5;
        padding-top: $spacer * 2;
    }

    &.Simple {
        background-color: $white;

        .Col, .SocialLinks {
            a {
                color: $gray-dark;
            }

            svg {
                fill: $gray-dark;
            }
        }

        .CopyRight {
            color: $gray-dark;
        }
    }
}