@import "../../styles/variables";
@import "../../styles/mixins";

.Footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    overflow: hidden;

    .Content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        gap: 4rem;
        padding-bottom: $spacer * 20;
        margin: 0 auto;
    }

    .Col {
        display: grid;
        gap: 1rem;
        grid-auto-rows: max-content;

        a {
            color: $white;
            font-size: 1rem;

            &:hover {
                opacity: .8;
            }
        }

        svg {
            width: 100px;
            height: 25px;
            fill: $white;
        }
    }

    .SocialLinks {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        a {
            color: $white;
            font-size: 1rem;
            padding: 1.75rem;

            &:hover {
                opacity: .8;
            }

            svg {
                width: 18px;
                height: 18px;
                fill: $white;
                margin-right: 0.75rem;
            }
        }
    }

    .CopyRight {
        display: flex;
        justify-content: center;
        color: $white;
        opacity: .5;
        padding-top: 1rem;
    }

    &.Simple {
        background-color: $white;

        .Col, .SocialLinks {
            a {
                color: $gray-dark;
            }

            svg {
                fill: $gray-dark;
            }
        }

        .CopyRight {
            color: $gray-dark;
        }
    }
}