@import "../../../../styles/variables";

.AdminHiddenContentForum {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: $spacer * 2;

    .ForumRow {
        display: flex;
        padding-bottom: $spacer * 2;
        border-bottom: 1px solid $gray-light;
    }

    .Paginator {
        margin-top: $spacer * 4;
    }
}

.Loading {
    display: flex;
    justify-content: center;
    padding-top: $spacer * 4;
}