@import "../../../styles/variables";

.Header {
    padding-bottom: $spacer * 25;

    @include md() {
        padding-bottom: $spacer * 15;
    }

    @include sm() {
        padding-bottom: $spacer * 10;
    }
}

.BodyContainer {
    background: $green-darker;
    padding-bottom: $spacer * 4;

    .Body {
        position: relative;
        display: flex;
        flex-direction: column;

        .BackGroundMap {
            position: absolute;
            right: -100px;
            height: 500px;
            width: 700px;
            top: -200px;

            svg {
                fill: $green-dark;
            }

            @include lg() {
                right: 0;
            }

            @include md() {
                height: 400px;
                width: 500px;
                right: 0;
                top: -100px;
            }

            @include sm() {
                display: none;
            }
        }

        .Avatar {
            margin-top: -100px;
            width: 200px;
            height: 200px;
        }

        .UserNameContainer {
            display: flex;
            padding-top: $spacer * 4;
            gap: $spacer * 4;
            z-index: 1;
            align-items: center;

            .UserName {
                font-size: 3rem;
                color: $white;
                font-weight: 600;
            }
        }

        .ActionButton {
            background: $white;
            color: $green-dark;
            padding: $spacer $spacer * 3;
            font-weight: 600;
            height: 40px;
            border-radius: 5px;
            box-shadow: 0 0 3px $green-dark;
            cursor: pointer;
            display: flex;

            &:hover {
                background: $green-dark;
                color: $white;
            }
        }

        .Joined {
            color: $green-dark;
            font-weight: 600;
            margin-bottom: $spacer * 4;
        }

        .Statistics {
            display: flex;
            width: 100%;
            z-index: 1;
            gap: $spacer * 4;
            margin-bottom: $spacer * 4;
            flex-wrap: wrap;

            .StatisticsItem {
                display: flex;
                gap: $spacer;
                align-items: center;

                svg {
                    width: 36px;
                    height: 36px;
                    fill: $white;
                }

                .StatisticsLabel {
                    color: $white;
                    font-weight: 500;
                    font-size: $font-size-medium;
                }
            }
        }

        .VisitedBlock {
            margin-bottom: $spacer * 2;
        }

        .VisitedHeader {
            color: $green-dark;
            font-weight: 600;
            margin-bottom: $spacer * 2;
        }

        .DestinationInfo {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: $spacer * 3;
            gap: $spacer;

            .Info {
                display: flex;
                gap: $spacer;

                svg {
                    width: 36px;
                    height: 36px;
                    fill: $white;
                }

                .InfoTitle {
                    font-size: $font-size-medium;
                    color: $white;
                    font-weight: 500;
                }
            }

            .Tags {
                display: flex;
                width: 100%;
                gap: $spacer;
                flex-wrap: wrap;
                padding-left: 40px;
            }
        }

        .ActionButtons {
            display: flex;
            margin: $spacer * 2 0;
            gap: $spacer * 1.5;
            justify-content: flex-end;
            flex-wrap: wrap;
        }

        @include md() {
            .Avatar {
                margin-top: -75px;
                width: 150px;
                height: 150px;
            }
        }

        @include sm() {
            .Avatar {
                align-self: center;
                margin-top: -60px;
                width: 120px;
                height: 120px;
            }

            .UserNameContainer {
                margin-bottom: $spacer * 3;
                flex-direction: column;
                gap: $spacer;

                .UserName {
                    font-size: 2rem;
                }
            }

            .Joined {
                margin-bottom: $spacer * 2;
            }

            .Statistics {
                flex-direction: column;
                gap: $spacer * 2;

                .StatisticsItem {
                    svg {
                        width: 24px;
                        height: 24px;
                    }

                    .StatisticsLabel {
                        font-size: $font-size-normal;
                    }
                }
            }

            .DestinationInfo {
                .Info {
                    margin-bottom: $spacer;

                    svg {
                        width: 24px;
                        height: 24px;
                        fill: $white;
                    }

                    .InfoTitle {
                        font-size: $font-size-normal;
                    }
                }

                .Tags {
                    padding-left: 0;
                }
            }

            .ActionButtons {
                justify-content: flex-start;
            }
        }
    }
}

.ImageGallery {
    width: 100%;
    background: $gray-light;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: $spacer * 1.5;

    @include md() {
        padding: 0;
    }

    .ImagesContainer {
        display: flex;
        background: $green-dark;
        max-width: 1700px;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
}

.ForumPosts {
    background: $gray-light;
    width: 100%;

    .ContainerBody {
        display: flex;
        width: 100%;
        padding: $spacer * 4 0;

        .ForumList {
            flex: 2;
            display: flex;
            flex-direction: column;

            .ForumListTitle {
                margin-bottom: $spacer * 4;
            }

            .UserLastComments {
                margin-bottom: $spacer * 2;
            }
        }

        .Sidebar {
            flex: 1;
            padding-left: $spacer * 8;
        }

        @include sm() {
            flex-direction: column;

            .ForumList {
                flex: 1;
            }

            .Sidebar {
                flex: 1;
                padding-left: 0;
            }
        }
    }
}