@import "../../../styles/variables";

.UserProfileDestinationForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: $white;
    max-width: 500px;
    z-index: 2;

    .FormContainer {
        display: flex;
        padding: $spacer $spacer * 5 $spacer * 5 $spacer * 5;

        form {
            width: 100%;

            .SubHeading {
                color: $blue;
                font-size: $font-size-medium;
                font-weight: 500;
                margin: $spacer * 2 0 $spacer * 1 0;
            }

            .FormInput {
                margin-bottom: $spacer * 4;
            }
        }

        .SubmitButton {
            margin-top: $spacer * 5;
        }
    }

    @include sm() {
        .FormContainer {
            padding: $spacer $spacer * 2 $spacer * 2 $spacer * 2;
        }
    }
}