@import "../../../styles/variables";

.UserChat {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: $white;

    .Header {
        position: static;
        width: 100%;
        min-height: 60px;
        top: 0;
        box-shadow: 0 5px 15px 0 $gray;
        z-index: 2;
        display: flex;

        .Back {
            display: flex;
            gap: $spacer;
            align-items: center;
            cursor: pointer;
            padding: $spacer $spacer * 2;
            position: absolute;
            top: 0;
            left: 0;
            height: 60px;

            &:hover {
                background: $gray-light;
            }

            svg {
                width: 20px;
                height: 20px;
                fill: $gray-dark;
            }

            .BackText {
                color: $gray-dark;
                font-weight: 500;
            }
        }

        .WithUser {
            margin: 0 auto;
            align-self: center;
            display: flex;
            gap: $spacer;
            align-items: center;

            .Avatar {
                height: 45px;
                width: 45px;
            }

            .UserName {
                color: $gray-dark;
                font-weight: 600;
                font-size: $font-size-medium;
            }
        }
    }

    .Body {
        height: 100%;
        overflow: auto;
        padding: $spacer * 2 0;

        .List {
            display: flex;
            flex-direction: column;
            gap: $spacer * 3;
            padding: 0 $spacer * 2;
            margin-bottom: $spacer * 5;

            .MessageContainer {
                display: flex;
                width: 100%;

                .Message {
                    display: flex;
                    max-width: 75%;
                    width: 100%;

                    @include sm() {
                        max-width: 100%;
                    }
                }

                &.MyMessage {
                    justify-content: flex-end;
                    align-items: flex-end;

                    .Message {
                        justify-content: right;
                    }
                }
            }
        }
    }

    .Footer {
        position: static;
        width: 100%;
        height: 200px;
        background: $white;
        bottom: 0;
        box-shadow: 0 0 15px $gray;
        z-index: 2;
        padding: $spacer * 2;
        display: flex;
        gap: $spacer * 2;
        align-items: center;

        textarea {
            border: 0;
            height: 100%;
            width: 100%;
            outline: none;
            color: $gray-dark;
            resize: none;
            font-size: $font-size-normal;
            font-family: $font-family-sailec;
            border-right: 1px solid $gray-light;
            padding-right: $spacer;

            &::placeholder {
                color: $gray;
            }
        }

        .SendButton {
            min-width: 50px;
            height: 50px;
            background: $purple;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            svg {
                width: 25px;
                height: 25px;
                fill: $white;
            }

            &:hover {
                background: $green-dark;
            }
        }
    }

    @include sm() {
        .Footer {
            height: 150px;
        }
    }
}

.Loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}