$font-family-sailec: Sailec, sans-serif;

$white: #ffffff;
$red: #ed6464;
$yellow: #f5b800;
$purple: #8b84d7;
$green: #78cc5c;
$green-dark: #288f18;
$green-hover: #5bba3b;
$blue: #37a0eb;
$blue-light: #4ac9e3;
$orange: #ff9b3d;
$orange-dark: #f57600;
$gray: #d1d4d6;
$gray-light: #f1f2f3;
$gray-darker: #6c747a;
$gray-dark: #545a5f;
$gray-dark-hover: #303436;
