$font-family-sailec: Sailec, sans-serif;

$white: #ffffff;
$red: #ed6464;
$yellow: #f5b800;
$purple: #8b84d7;
$green: #78cc5c;
$blue: #37a0eb;
$orange: #ff9b3d;
//$gray-dark: #6c747a;
$gray-dark: #545a5f;
$gray-light: #f1f2f3;
