@import "../../../styles/variables";

.FlightForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: $white;
    z-index: 1;

    .FormContainer {
        display: flex;
        padding: $spacer $spacer * 5 $spacer * 5 $spacer * 5;

        form {
            width: 100%;

            .FormInput {
                margin-bottom: $spacer * 3;
            }
        }

        .SubmitButton {
            max-width: 200px;
            width: 100%;
            margin-top: $spacer * 5;
        }
    }
}