@import "../../../styles/variables";

.ForumList {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;

    .ForumRow {
        margin-bottom: $spacer * 3;

        @include xs() {
            margin-bottom: $spacer * 2;
        }
    }
}