@import "../../../styles/variables";

.ForumList {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;

    .ForumRow {
        margin-bottom: $spacer * 3;

        @include xs() {
            margin-bottom: $spacer * 2;
        }
    }

    .Ad {
        max-width: 650px;
        width: 100%;
        overflow: hidden;
        margin: 0 auto;

        iframe {
            margin-bottom: $spacer * 3;

            @include xs() {
                margin-bottom: $spacer * 2;
            }
        }

        @include lg() {
            max-width: 645px;
        }

        @media (max-width: 912px) {
            max-width: 565px;
        }

        @media (max-width: 820px) {
            max-width: 485px;
        }

        @include md() {
            max-width: 700px;
        }

        @include sm() {
            display: block;
        }
    }
}