@import "../../styles/variables";

.ResetPasswordForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: $white;
    max-width: 500px;
    z-index: 2;

    .FormContainer {
        display: flex;
        padding: $spacer * 5;

        @include sm() {
            padding: $spacer * 3;
        }

        form {
            width: 100%;

            .FormInput {
                margin-bottom: $spacer * 3;
            }
        }

        .SubmitButton {
            margin-top: $spacer * 5;
        }
    }
}