@import "../../../styles/variables";

.UserEditForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: $white;
    max-width: 500px;
    z-index: 2;

    .FormContainer {
        display: flex;
        padding: $spacer $spacer * 5 $spacer * 5 $spacer * 5;

        form {
            width: 100%;

            .SubHeading {
                color: $blue;
                font-size: $font-size-medium;
                font-weight: 500;
                margin: $spacer * 4 0 $spacer * 2 0;
            }

            .FormInput {
                margin-bottom: $spacer * 3;

                .TwoColField {
                    display: flex;
                    width: 100%;

                    .GenderField {
                        display: flex;
                        flex-direction: column;
                        gap: $spacer * 1.5;
                        flex: 1;

                        .GenderLabel {
                            color: $gray-darker;
                            margin-bottom: $spacer;
                            font-size: $font-size-normal;
                            font-weight: 500;
                            line-height: 1.2rem
                        }

                        .GenderInputs {
                            display: flex;
                        }

                        @include sm() {
                            gap: $spacer;

                            .GenderInputs {
                                flex-direction: column;
                                gap: $spacer;
                            }
                        }
                    }

                    .BirthYearField {
                        flex: 1;
                    }
                }
            }
        }

        .SubmitButton {
            margin-top: $spacer * 5;
        }
    }
}